// Box One
.box-one {
    display: block;
    color: $clr-333333;
    background-color: $white-clr;
    border: 1px solid $clr-e4e4e4;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba($black-clr, 0.1);
    padding: 20px;
    overflow: hidden;
    &:hover {
        color: inherit;
    }
}

// Booking
.booking-box {
    .label-span {
        color: $clr-999999;
    }
    .trip-type-radio {
        display: flex;
        align-items: center;
        li {
            .text-radio {
                font-size: 12px;
                min-width: 80px;
            }
            + li {
                margin-left: 15px;
            }
        }
    }
    .flight-input {
        margin-top: 24px;
    }
    .add-more-btn {
        margin-top: 16px;
        button {
            color: $red-clr;
            background-color: $white-clr;
            border: 1px solid $red-clr;
            border-radius: 15px;
            padding: 4px 15px;
            font-size: 12px;
            cursor: pointer;
        }
    }
    .person-select {
        margin-top: 24px;
        .add-person {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .filter-list {
        margin-top: 24px;
        li {
            + li {
                margin-top: 15px;
            }
        }
    }
}

// Journey
.journey-box {
    padding: 15px;
    .top-sec {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        img {
            width: auto;
            max-width: 100%;
            height: 20px;
            margin-right: 10px;
        }
        h4 {
            margin-bottom: 0;
        }
    }
    .meta {
        padding-left: 30px;
        color: $clr-999999;
    }
    .bottom-sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            &:first-child {
                b {
                    color: $red-clr;
                }
            }
        }
    }
}

// Journey Two
.journey-box2 {
    padding: 20px 15px;
    .top-sec {
        padding-left: 10px;
        margin-bottom: 24px;
        position: relative;
        border-left: 2px solid $clr-e4e4e4;
        &:before,
        &:after {
            content: "";
            width: 6px;
            height: 6px;
            background-color: $clr-e4e4e4;
            border-radius: 50%;
            position: absolute;
            left: -4px;
        }
        &:before {
            top: -3px;
        }
        &:after {
            bottom: -3px;
        }
        .place-name {
            font-weight: 600;
            line-height: 1.2;
            position: relative;
            &.top {
                top: -6px;
            }
            &.bottom {
                bottom: -8px;
            }
        }
        .time {
            color: $clr-999999;
        }
    }
    .bottom-sec {
        padding-left: 12px;
        small {
            display: block;
            line-height: 1;
        }
        span {
            font-size: 20px;
            font-weight: bold;
            color: $red-clr;
        }
    }
}

// Collection
.collection-box {
    display: block;
    color: $clr-333333;
    padding-top: 12px;
    position: relative;
    &:hover {
        color: inherit;
    }
    &:before,
    &:after {
        content: "";
        height: 6px;
        border-radius: 8px 8px 0 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &:before {
        width: calc(100% - 50px);
        top: 0;
        background-color: $clr-e4e4e4;
    }
    &:after {
        width: calc(100% - 30px);
        top: 6px;
        background-color: $clr-c5c5c5;
    }
    .img-sec {
        border-radius: 8px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .meta {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        background-image: linear-gradient(180deg, rgba($black-clr, 0), rgba($black-clr, 0.8));
        border-radius: 0 0 8px 8px;
        span {
            padding: 4px 10px;
            background-color: $white-clr;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 4px;
        }
        p {
            color: $white-clr;
            margin-bottom: 0;
            margin-top: 4px;
            font-weight: 500;
        }
    }
}

// Offer
.offer-box {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    .left-sec {
        max-width: 40%;
        flex: 0 0 40%;
        text-align: center;
        position: relative;
        padding: 0 10px;
        img {
            width: 100%;
            border-radius: 8px;
        }
        span {
            font-size: 10px;
            display: block;
            color: $white-clr;
            background-color: $clr-333333;
            padding: 5px 10px;
            border-radius: 20px;
            position: absolute;
            width: 100%;
            bottom: -7px;
            left: 0;
        }
    }
    .right-sec {
        max-width: 60%;
        flex: 0 0 60%;
        padding-left: 10px;
        .small {
            color: $clr-999999;
            text-transform: uppercase;
        }
        h4 {
            position: relative;
            padding-bottom: 5px;
            margin-bottom: 8px;
            &:after {
                content: "";
                width: 40px;
                height: 1px;
                background-color: $red-clr;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .bottom-sec {
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        span {
            margin-bottom: 0;
            &:nth-child(3) {
                font-weight: 600;
                color: $red-clr;
            }
        }
    }
}

// Ad
.add-box {
    display: block;
    margin-top: 30px;

    // Max 767px
    @media (max-width: $break-767) {
        margin-top: 10px;
    }
    img {
        width: 100%;
    }
}

// Person Quantity
.person-box {
    width: 25%;
    span {
        display: block;
        font-size: 12px;
    }
    .quantity-box {
        display: flex;
        button {
            display: inline-block;
            width: 25%;
            color: $clr-333333;
            background-color: $clr-f1f1f1;
            border: 1px solid $clr-e4e4e4;
            text-align: center;
            padding: 5px;
            font-weight: bold;
            line-height: 1;
            cursor: pointer;
        }
        input[type="number"] {
            display: inline-block;
            width: 50%;
            text-align: center;
            border: 1px solid $clr-e4e4e4;
            border-left: 0;
            border-right: 0;
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }
}

// Promocode One
.promocode-one {
    color: $clr-333333;
    padding: 15px;
    text-align: center;
    .promocode {
        span {
            display: inline-block;
            padding: 4px 10px;
            color: $clr-333333;
            border: 2px dashed $red-clr;
            background-color: $clr-f1f1f1;
        }
    }
    p {
        margin: 10px 0 0 0;
    }
    .green-text {
        color: green;
    }
    a {
        &:hover {
        }
    }
    + .promocode-one {
        border-top: 1px solid $clr-e4e4e4;
    }
}

// Login Info
.info-box {
    background-color: $clr-fef2d8;
    border-radius: 4px;
    margin-bottom: 15px;
    h5 {
        background-color: $clr-feeab8;
        margin: 0;
        font-weight: 600;
        padding: 8px 15px;
        border-radius: 4px 4px 0 0;
    }
    ul {
        padding: 15px;
        li {
            position: relative;
            padding-left: 30px;
            min-height: 30px;
            img {
                position: absolute;
                left: 0;
                top: -4px;
            }
            + li {
                margin-top: 10px;
            }
        }
    }
}

// Login Info Two
.info-box2 {
    .head-sec {
        background-color: $clr-e4e4e4;
        padding: 10px 15px;
        text-align: center;
        border-radius: 8px 8px 0 0;
        h3 {
            margin-bottom: 0;
        }
    }
    .body-sec {
        background-color: $clr-f1f1f1;
        padding: 30px 15px;
        border-radius: 0 0 8px 8px;
        min-height: 400px;
        ul {
            li {
                position: relative;
                padding-left: 40px;
                padding-top: 5px;
                margin-bottom: 15px;
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

// Note List Box
.notes-list {
    background-color: $clr-fffdd5;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    h5 {
        margin-bottom: 5px;
    }
    ul {
        + h5 {
            margin-top: 20px;
        }
        li {
            position: relative;
            padding-left: 15px;
            &:before {
                content: "-";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            + li {
                margin-top: 5px;
            }
        }
    }
}

// Listing Item One
.listing-box {
    padding: 20px 15px 0 15px;
    + .listing-box {
        margin-top: 20px;
    }
    .basic-info {
        .sec1 {
            .flight-name {
                position: relative;
                padding-left: 40px;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                div {
                    &:nth-child(3) {
                        color: $clr-999999;
                    }
                }
            }
        }
        .sec2 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            // Max 767px
            @media (max-width: $break-767) {
                margin-top: 15px;
            }
            .flight-time {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .time {
                    div {
                        &:last-child {
                            color: $clr-999999;
                        }
                    }
                }
                .stops {
                    margin: 0 20px;
                    width: 60px;
                    height: 2px;
                    background-color: $clr-c5c5c5;
                    position: relative;
                    &:before,
                    &:after {
                        content: "";
                        width: 8px;
                        height: 8px;
                        background-color: $white-clr;
                        border: 2px solid $clr-c5c5c5;
                        border-radius: 50%;
                        position: absolute;
                        top: -3px;
                    }
                    &:before {
                        left: 25%;
                    }
                    &:after {
                        right: 25%;
                    }
                }
            }
            .total-time {
                padding-left: 10px;
                border-left: 1px solid $clr-e4e4e4;
                div {
                    &:last-child {
                        color: $clr-999999;
                    }
                }
            }
        }
        .sec3 {
            .total-price {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-wrap: wrap;
                div {
                    margin-right: 10px;
                }
            }
        }
        .divider-sec {
            padding: 10px 0;
            margin-top: 20px;
            border-top: 1px solid $clr-e4e4e4;
        }
    }
    .flights-details {
        display: none;
        .head-sec {
            padding: 10px 15px;
            color: $white-clr;
            background-color: $red-clr;
            margin: 0 -15px;
            width: calc(100% + 30px);
        }
        .body-sec {
            .left-sec {
                margin-bottom: 60px;

                // Max 767px
                @media (max-width: $break-767) {
                    margin-bottom: 30px;
                }
                .flight-info {
                    margin-top: 15px;
                    .sec1 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid $clr-e4e4e4;
                        padding-bottom: 5px;
                        .name {
                            position: relative;
                            padding-left: 40px;
                            img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                overflow: hidden;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                            div {
                                &:nth-child(2) {
                                    font-weight: bold;
                                    span {
                                        font-weight: normal;
                                        color: $clr-999999;
                                    }
                                }
                                &:nth-child(3) {
                                    font-size: 12px;
                                    color: $clr-999999;
                                }
                            }
                        }
                        .services {
                            display: flex;
                            font-size: 1.2em;
                            div {
                                &.active {
                                    color: $red-clr;
                                }
                                + div {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                    .sec2 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0;
                        .all-info {
                            div {
                                &:nth-child(1) {
                                    font-size: 13px;
                                }
                                &:nth-child(4) {
                                    color: $clr-999999;
                                }
                            }
                        }
                        .total-time {
                            text-align: center;
                            color: $clr-999999;
                            div {
                                &:nth-child(2) {
                                    display: flex;
                                    align-items: center;
                                    span {
                                        width: 60px;
                                        height: 2px;
                                        background-color: $clr-c5c5c5;
                                        display: inline-block;
                                        margin-right: 5px;

                                        // Max 767px
                                        @media (max-width: $break-767) {
                                            width: 20px;
                                        }
                                    }
                                    i {
                                        font-size: 2em;
                                    }
                                }
                            }
                        }
                    }
                    .sec3 {
                        font-size: 12px;
                        .packadge {
                            background-color: $clr-f1f1f1;
                            padding: 6px 15px;
                            border-radius: 30px;
                            display: flex;
                            justify-content: center;
                            div {
                                + div {
                                    margin-left: 10px;
                                }
                            }
                        }
                        .change-plane {
                            background-color: $clr-fffdd5;
                            padding: 6px 15px;
                            border-radius: 30px;
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }
            }
            .right-sec {
                background-color: $light-red-clr;
                padding-bottom: 40px;
                table {
                    width: 100%;
                    tr {
                        th,
                        td {
                            padding: 5px;
                            &:last-child {
                                text-align: right;
                            }
                        }
                    }
                }
                hr {
                    border-color: $white-clr;
                }
                .total {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        &.show {
            display: block;
        }
    }
    .fare-details {
        margin-bottom: 30px;
        display: none;
        &.show {
            display: none;
        }
    }
}

// Details Page - Benefit Box
.benefit-box {
    text-align: center;
    .icon-sec {
        position: relative;
        display: inline-block;
        span {
            width: 60px;
            height: 60px;
            line-height: 55px;
            background-color: $clr-e4e4e4;
            border-radius: 50%;
            display: inline-block;
            img {
                width: 30px;
                display: inline-block;
            }
        }
        i {
            position: absolute;
            top: 0;
            right: 0;
            color: $clr-02CB66;
            font-size: 16px;
        }
    }
    .info-sec {
        margin-top: 10px;
        font-size: 12px;
        h5 {
            margin-bottom: 0;
            font-size: 13px;
        }
        ul {
            li {
                color: $clr-999999;
            }
        }
    }
}

// Details Page - Service Items
.service-item {
    text-align: center;
    padding: 15px;
    background-color: $white-clr;
    border: 1px solid $clr-e4e4e4;
    .food-type {
        width: 17px;
        height: 17px;
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid;
        &:after {
            content: "";
            width: 9px;
            height: 9px;
            background-color: $clr-333333;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        &.veg {
            border-color: $clr-02CB66;
            &:after {
                background-color: $clr-02CB66;
            }
        }
        &.non {
            border-color: $red-clr;
            &:after {
                background-color: $red-clr;
            }
        }
    }
    .icon-sec {
        margin-bottom: 10px;
        span {
            img {
                width: auto;
                height: 60px;
                display: inline-block;
            }
        }
    }
    .info-sec {
        h5 {
            font-size: 13px;
            margin-bottom: 5px;
        }
        h4 {
            margin: 10px 0;
        }
        p {
            margin-bottom: 5px;
            font-weight: 500;
        }
        a {
            font-size: 12px;
            padding: 6px 15px;
            color: $red-clr;
            background-color: $white-clr;
            border: 1px solid $red-clr;
            &:hover {
                color: $white-clr;
                background-color: $red-clr;
            }
        }
    }
}

// eCash Box
.ecash-box {
    padding: 30px;
    text-align: center;
    border: 1px solid $clr-e4e4e4;
    border-radius: 4px;
    h4 {
        text-transform: capitalize;
        color: $red-clr;
        margin-bottom: 5px;
    }
    h2 {
        margin-bottom: 0;
    }
}

// Team Box
.team-box {
    .team-head {
        background-color: $clr-e4e4e4;
        padding: 10px 15px;
        margin-bottom: 15px;
        p {
            span {
                position: relative;
                font-weight: bold;
                margin-right: 10px;
                &:after {
                    content: ",";
                }
            }
        }
    }
    .team-body {
        .details-sec {
            p {
                margin-bottom: 0;
                color: $clr-999999;
                line-height: 2;
                + p {
                    margin-top: 30px;
                }
            }
        }
        .img-sec {
            img {
                width: 100%;
            }
        }
    }
    + .team-box {
        margin-top: 50px;
    }
}

// Icon Info
.icon-info {
    position: relative;
    padding-left: 100px;
    margin-top: 50px;
    img {
        position: absolute;
        left: 0;
    }
    h3 {
        margin-bottom: 5px;
    }
    p {
        margin-bottom: 0;
        color: $clr-999999;
    }
}
