<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="images/favicon.png">

	<title>Savaari</title>

	<!-- Custom -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/custom.css">
</head>

<body>
	<!-- Main Header -->
	<div class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 col-3 pr-0 order-lg-1 order-1">
					<div class="left-sec">
						<div class="logo-widget">
							<a href="index.html">
								<img src="images/logo.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 order-lg-2 order-3">
					<div class="center-sec">
						<ul class="menu-items">
							<li>
								<a href="#">
									<i class="flight-icon"></i>
									<span>Flights</span>
								</a>
							</li>
							<li>
								<a href="#" class="active">
									<i class="hotel-icon"></i>
									<span>Hotels</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-9 order-lg-3 order-2 pl-0">
					<div class="right-sec">
						<div class="region-select">
							<select id="country-select">
								<option data-icon="images/flags/in.svg">India</option>
								<option data-icon="images/flags/af.svg">Afghanistan</option>
								<option data-icon="images/flags/au.svg">Australia</option>
								<option data-icon="images/flags/ca.svg">Canada</option>
								<option data-icon="images/flags/ru.svg">Russia</option>
								<option data-icon="images/flags/us.svg">USA</option>
							</select>
						</div>
						<div class="links">
							<a href="#">offers</a>
						</div>
						<div class="dropdown">
							<button class="dropdown-toggle" type="button" data-toggle="dropdown">
								<span>Account</span>
							</button>
							<div class="dropdown-menu">
								<a href="#" class="dropdown-item">Login</a>
								<a href="#" class="dropdown-item">Sign Up</a>
								<div class="dropdown-divider"></div>
								<a href="#" class="dropdown-item">For Business</a>
								<a href="#" class="dropdown-item">For Agents</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
								<span>Support</span>
							</button>
							<div class="dropdown-menu">
								<a href="" class="dropdown-item">Call Us</a>
								<a href="mailto:support@onlinesavaari.com" class="dropdown-item">Mail Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main -->
	<main class="main-body">
		<section class="heading-banner" style="background-image:url(images/bg/pb-1.png);">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="m-0">Great Offers & Amazing Deals</h1>
					</div>
				</div>
			</div>
		</section>

		<section class="offer-pg">
			<div class="container">
				<div class="row gap-2">
					<div class="col-12">
						<ul class="menu-list">
							<li><a href="#">Domestic Hotels</a></li>
							<li><a href="#">International Hotels</a></li>
							<li><a href="#">Hotels</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/1.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/2.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/3.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/1.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/2.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/3.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/1.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/2.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/3.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/1.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="images/offers/2.jpg" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- Footer -->
	<footer class="main-footer mt-5">
		<div class="footer_widgets">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="widget">
							<h4 class="mb-3">Quick Links</h4>
							<ul>
								<li>
									<a href="#.html">Home</a>
								</li>
								<li>
									<a href="#.html">How it works</a>
								</li>
								<li>
									<a href="#.html">Service</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="widget">
							<h4 class="mb-3">Services</h4>
							<ul>
								<li>
									<a href="#.html">Management</a>
								</li>
								<li>
									<a href="#.html">Training</a>
								</li>
								<li>
									<a href="#.html">Coaching</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="widget">
							<h4 class="mb-3">Features Service</h4>
							<ul>
								<li>
									<a href="#.html">Plans</a>
								</li>
								<li>
									<a href="#.html">Checkout</a>
								</li>
								<li>
									<a href="#.html">Payment confirmation</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="widget">
							<h4 class="mb-3">Get to Know us</h4>
							<ul>
								<li>
									<a href="#.html">About</a>
								</li>
								<li>
									<a href="#.html">Request a quote</a>
								</li>
								<li>
									<a href="#.html">Contact us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 text-md-right">
						<div class="widget">
							<address>
								795 Folsom Ave, Suite 600<br>
								San Francisco, CA 94107<br>
							</address>
							<h3 class="mb-3">
								<a href="tel:111223344">
									<i class="icon-line2-earphones-alt mr-1"></i> +00-22-33-44
								</a>
							</h3>
							<div class="social-list-one justify-content-md-end">
								<a href="#" title="Facebook">
									<i class="fa fa-facebook-f"></i>
								</a>
								<a href="#" title="instagram">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="#" title="pinterest">
									<i class="fa fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyrights">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-md-6">
						<p>Copyrights © 2022 All Rights Reserved by <b>Savari Inc.</b></p>
					</div>
					<div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">
						<div class="copyrights_links">
							<a href="terms_condition.html">Terms &amp; Conditions</a>/<a href="disclaimer.html">Disclaimer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Jquery min -->
	<script src="js/jquery.min.js"></script>

	<!-- Popper Min -->
	<script src="plugins/bootstrap/js/popper.min.js"></script>

	<!-- Bootstrap -->
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Jquery UI -->
	<script src="plugins/Jquery-ui/jquery-ui.min.js"></script>

	<!-- Owl Carousel -->
	<script src="plugins/owl-carousel/js/owl.carousel.min.js"></script>

	<!-- Star Rating -->
	<script src="plugins/star_rating/star-rating.js"></script>

	<!-- Quantity -->
	<script src="plugins/quantity.js"></script>

	<!-- Phone -->
	<script src="plugins/phone/phone.js"></script>

	<!-- Select -->
	<script src="plugins/selectbox.js"></script>

	<!-- Custom -->
	<script src="js/default.js"></script>

</body>

</html>