{% load static%}
{% include "savaari-admin/header.html" %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                
                <div class="row layout-top-spacing" id="cancel-row">
                
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="row">
                                <div class="text-center ml-4">
                                    <button type="button" class="btn btn-primary mb-2 mr-2" data-toggle="modal" data-target="#exampleModal">
                                      Add New Api
                                    </button>
                                </div>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" style="padding: 1em 2em;">
                                            <form action="{% url 'apibalance' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="row mb-4">
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Api Name</label>
                                                        <input type="text"  class="form-control form-control-sm" name="company_name" placeholder="Company Name" required>
                                                    </div> 
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Amount</label>
                                                        <input type="number"  class="form-control form-control-sm" name="balance" placeholder="Amount" required>
                                                    </div> 
                                                </div>
                                                <!-- <div class="row mb-4">
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Phone Number</label>
                                                        <input type="tel" maxlength="10" class="form-control form-control-sm" name="mobile" placeholder="Number" required>
                                                    </div> 
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Mail</label>
                                                        <input type="email"  class="form-control form-control-sm" name="email" placeholder="Mail" required>
                                                    </div> 
                                                </div> -->
                                                <input type="submit" name="time" class="btn btn-primary">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="amountmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content" style="padding: 1em 2em;">
                                            <form action="{% url 'apibalance' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="row mb-4">
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Api Name</label>
                                                        <input type="text"  class="form-control form-control-sm" name="add_company_name" value="tripjack" placeholder="Company Name" readonly>
                                                    </div> 
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Amount</label>
                                                        <input type="number"  class="form-control form-control-sm" name="add_balance" placeholder="Amount" required>
                                                    </div> 
                                                </div>
                                                <input type="submit" name="time" class="btn btn-primary">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive mb-4 mt-4">
                                <table class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Available Balance</th>
                                            <th>Add Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in apibalance %}
                                        <tr>
                                            <td>{{i.company_name}}</td>
                                            <td>{{i.balance}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary mb-2 mr-2" data-toggle="modal" data-target="#amountmodal">
                                                    Add Amount
                                                </button>
                                            </td>
                                            <td>Active</td>
                                            <td class="text-center">
                                                <div class="dropdown custom-dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                        <a class="dropdown-item" href="javascript:void(0);">View</a>
                                                        <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                                        <a class="dropdown-item" href="javascript:void(0);">Status Update</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Available Balance</th>
                                            <th>Add Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                </div>
        <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © 2020 <a target="_blank" href="https://designreset.com">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    
    
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'admin/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'admin/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/app.js' %} "></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'admin/assets/js/custom.js' %}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'admin/plugins/table/datatable/datatables.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('table.multi-table').DataTable({
                "oLanguage": {
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    "sSearchPlaceholder": "Search...",
                   "sLengthMenu": "Results :  _MENU_",
                },
                "stripeClasses": [],
                "lengthMenu": [7, 10, 20, 50],
                "pageLength": 7,
                drawCallback: function () {
                    $('.t-dot').tooltip({ template: '<div class="tooltip status" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' })
                    $('.dataTables_wrapper table').removeClass('table-striped');
                }
            });
        } );
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->

</body>
</html>