{% load static%}
{% include "savaari-admin/header.html" %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>


        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                
                <div class="row layout-top-spacing" id="cancel-row">
                
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="row">
                                <div class="text-center ml-4">
                                    <button type="button" class="btn btn-primary mb-2 mr-2" data-toggle="modal" data-target="#exampleModal">
                                      Add Commission
                                    </button>
                                </div>

                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content" style="padding: 1em 2em;">
                                            <form action="{% url 'commission' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="row mb-4">
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">User Type</label>
                                                        <select class="form-control form-control-sm" name="user_type">
                                                            <option hidden disabled selected>User Type</option>
                                                            <option value="Agent">Agent</option>
                                                            <option value="Corporate">Corporate</option>
                                                        </select>
                                                    </div> 
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Commission Amount</label>
                                                        <input type="text"  class="form-control form-control-sm" name="amount" placeholder="Amount" required>
                                                        
                                                    </div>  
                                                </div>
                                                 <div class="row mb-4">
                                                <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Amount Type</label>
                                                        <select class="form-control form-control-sm" name="amount_type">
                                                            <option disabled hidden selected>Amount Type</option>
                                                            <option value="fixed">Fixed</option>
                                                            <option value="percent">Percent</option>
                                                        </select>
                                                    </div>
                                                </div> 
                                                <div class="row mb-4">
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Excepting airlines</label>
                                                        <select name="airlines" id="airlines" multiple>
                                                            {% for x in air_list%}
                                                            <option value="{{x.code}}">{{x.name}}</option>
                                                           {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Excepting Email</label>
                                                        <select name="email" id="email" multiple>
                                                        	<option value="All" selected>All</option>
                                                            {% for x in all_agent%}
                                                            <option value="{{x.email}}">{{x.email}}</option>
                                                           {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">Start Date</label>
                                                        <input id="basicFlatpickr1" name="start_date"  class="form-control flatpickr flatpickr-input active" type="text" placeholder="Start Date..">
                                                    </div> 
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1">End Date</label>
                                                        <input id="basicFlatpickr2"  name="end_date" class="form-control flatpickr flatpickr-input active" type="text" placeholder="End Date..">
                                                    </div> 
                                                   
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1"> Commission type</label>
                                                        <select class="form-control form-control-sm" name="commission_type">
                                                            <option value="Domestic" selected>Domestic</option>
                                                            <option value="International">International</option>
                                                        </select>
                                                    </div> 

                                                    <div class="form-group col">
                                                        <label for="exampleFormControlInput1"> Route</label>
                                                        <select class="form-control form-control-sm" name="route">
                                                            <option value="DEL-BOM" selected>DEL-BOM</option>
                                                            <option value="BOM-BLR">BOM-BLR</option>
                                                            <option value="BOM-BLR">BLR-HYD</option>
                                                            <option value="BOM-BLR">HYD-CCU</option>
                                                        </select>
                                                    </div> 
                                                </div>


                                                <input class="btn btn-primary" type="submit" value="Submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive mb-4 mt-4">
                                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Email ID</th>
                                            <th>Commission Amount</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Airlines</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in all_commission%}
                                        <tr>
                                            <td>{{x.email}}</td>
                                            <td>{{x.amount}}</td>
                                            <td><input class="form-control form-control-sm" type="text" value="{{x.start_date}}" name="startdate"></td>
                                            <td><input class="form-control form-control-sm" type="text" value="{{x.end_date}}" name="enddate" ></td>
                                            <td>{{x.airline_type}}</td>
                                            <td>
                                                <button class="btn btn-primary" type="submit">Button</button>
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                </div>
        <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © 2020 <a target="_blank" href="https://designreset.com">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    
    
    
   
    <!-- Excepting airlines -->
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('airlines')  // id
    </script>

    <script>
        var f1 = flatpickr(document.getElementById('basicFlatpickr1'));
        var f2 = flatpickr(document.getElementById('basicFlatpickr2'));

        $(document).ready(function () {
            $('.flatpickr-calendar').css({ 'z-index': 99999999 })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('email')  // id
    </script>

    <script>
        var f1 = flatpickr(document.getElementById('basicFlatpickr1'));
        var f2 = flatpickr(document.getElementById('basicFlatpickr2'));

        $(document).ready(function () {
            $('.flatpickr-calendar').css({ 'z-index': 99999999 })
        })
    </script>

    <!-- Excepting airlines -->

    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © 2020 <a target="_blank" href="https://designreset.com">DesignReset</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->

<script src="{% static 'admin/plugins/flatpickr/flatpickr.js' %}"></script>




<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{% static 'admin/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'admin/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'admin/assets/js/app.js' %} "></script>

<script>
$(document).ready(function() {
    App.init();
});
</script>
<script src="{% static 'admin/plugins/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'admin/assets/js/custom.js' %}"></script>
<script src="{% static 'admin/assets/js/scrollspyNav.js' %}"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'admin/plugins/table/datatable/datatables.js' %}"></script>
<script>
        $('#html5-extension').DataTable( {
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7 
        } );
    </script>

<script type="application/javascript">
    $(document).ready(function () {
        $('#exampleModals').modal({ show: true });
    });
</script>
    <!-- END PAGE LEVEL CUSTOM SCRIPTS -->
</body>
</html>