#thumbs-slider .owl-item img {
	max-height: 45px;
}
.hotel-details .sec-box .landmarks .flex-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2px;
}
.hotel-details .sec-box .landmarks .flex-list li {
	width: 33%;
}
.check-in-out {
	display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.check-in-out .cb-top {
	flex-shrink: 0;
    flex-grow: 1;
	width: 40%;
    text-align: center;
    border: 1px solid #bababa;
    padding: 5px;
}
.check-in-out .cb-top span {}
.check-in-out .cb-top h4 {
	margin: 0;
    font-weight: 700;
}
.check-in-out .cb-top small {}

@media (max-width: 767px) {
.hotel-details .sec-box .landmarks .flex-list li {
	width: 100%;
}
}