{% load static %}
{% include "savaari_hotel/hotel_header.html" %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">


<style>
	.logo-widget,
	.social-list{
		margin-bottom: 0.5em;
	}
	.btn {
		background: #EA2330;
		color: white;
		font-weight: bold;
	}
	#search-again{
		background: blue;
	}
	@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.img-fluid{
	max-width: 100%;
    height: 70px;
    object-fit: contain;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
#loginModal3-insurance #table-body td{
	vertical-align: middle;
}
.nav-fill .nav-item {
	max-width: 200px;
}
.select {
	background-color: transparent;
    border: 1px solid red;
    color: black;
	position: relative;
}
.seatactive {
	background-color: blue;
}
.select:hover {
	background: rgb(255, 145, 61);
}
.select .label {
	visibility: hidden;
}
.select::before {
	position: absolute;
	content: '\f058';
	font-family: "Font Awesome 5 Free";
	inset: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

</style>
<style type="text/css">
	:root {
		--grid: 9;
	}
	td{
		padding: 6px;
	}
	.availableSeat{
		cursor: pointer;
	}
	#seat-layout {
		display: grid;
		grid-auto-flow: column dense;;
		/* grid-auto-rows: 35px; */
		/* padding: 1em 1em 2.5em; */
		box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
		overflow-x: scroll;
	}
	#showseat{
		display: none;
		width:180px;
		height:max-content;
		inset:0;
		position:absolute;
		background:white;
		transform: translate(-50%, -100%);
		z-index: 8;
		box-shadow: 0 4px 26px 0 rgb(60 60 60 / 50%);
	}
	.seat-amount {
		color:green;
		font-weight:bold;
	}
	.showseat__title{
		padding: 1.5em 0.5em;
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: black;
		height: 30px;
	}
	.showseat__title p {
		margin-bottom: 0;
		margin-top: 0;
	}
	.grid-cell {
		margin: 0.8em;
	}
	#seat-layout button {
		margin: 1px 5px;
	}
	.row-no {
		margin: 0 0.5em;
		padding-top: 1.5px;
		text-align: center;
	}
	.tab-pane {
		padding-top: 0 !important;
	}
	.cn-st {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2em;
		border: 1px solid black;
		border-radius: 10px;
	}
	.num {
		display: flex;
		justify-content: center;
	}
	.wt-sp {
		height: 20px;
	}
	.af-st {
		position: relative;
		z-index: 5;
	}
	.af-st img {
		position: relative;
		z-index: 33;
	}
	.af-st::after {
		content: '';
		display: block;
		position: absolute;
		top: 3.5px;
		left: 0;
		right: 0;
		bottom: 7px;
		background-color: #4BB9F0;
		transform: translateY(2px);
		z-index: 2;
	}

	#flight-list.active {	
			display: grid;	
			place-content: center;	
		}	
		#flight-list.active img {	
			object-fit: cover;	
			width: 100%;	
			height: 100%;	
		}
		#loader{
		display: none;
		color: black;
		z-index: 1;
	}

	:root {
	/* 	Size is a variable for both - height and width dimensions of the circle  */
		--size: 300px;
	/* 	First Color Value */
		--clrFirstSpin: lightpink;
	/* 	Second Color Value */
		--clrSecondSpin: aqua;
	/* 	Third Color Value */
		--clrThirdSpin: purple;
	/* 	Duration for text blinking animation  */
		--displayingTextTime: 2500ms;
		--spinnerFont: calc(var(--size)/10);
	}

	.cn-st #loader {
		display: flex;
		align-items:center;
		justify-content:center;
		margin:0;
		font-family:'Verdana', sans-serif;
	}

	.spinner {
		display: flex;
		align-items:center;
		justify-content:center;
		width:var(--size);
		height:var(--size);
		position:relative;

	}

	.spinner-area {
		border: 15px solid transparent;
		position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
		animation: rotate var(--duration) var(--timing) infinite;
	mix-blend-mode: overlay;
	}

	@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
	}

	.spinner-third {
		border-top-color:var(--clrThirdSpin);
		--duration: 1.5s;
		--timing: ease-in;	
	}

	.spinner-second {
		border-left-color:var(--clrSecondSpin);
		--duration: 2s;
		--timing: ease-in
	}

	.spinner-first {
		border-bottom-color: var(--clrFirstSpin);
		--duration: 3s;
		--timing: ease-in-out
	}

	.spinner p {
		font-size: var(--spinnerFont);
		text-transform:none;
		animation: displaying-text var(--displayingTextTime) ease-in-out infinite;
		color: #000;
	}

	@keyframes displaying-text {
	0% {
		opacity:1;
	}
		50% {
		opacity: 0.2;
	}
		100% {
		opacity:1;
		}
	}



	.spinner:after {
		content:'Nothing will be loaded!';
	width:100px;
	padding:15px;
	height:50px;
	display:block;
	position:absolute;
	top:-85px;
	right:-40px;
		background:white;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 42% 75%, 22% 100%, 22% 75%, 0% 75%);
			animation-name:displayMessage;
			animation-duration:3s;
			animation-timing-function:ease-in-out;
			animation-delay: 5s;
			animation-iteration-count: 1;
		animation-fill-mode: forwards;
			animation-play-state:pause;
			opacity:0;
	}
	body.active {margin: 0; height: 100%; overflow: hidden}
	.sh{display: block;}
	.hi{display: none;}
	.text-radio{
		border: 1px solid black;
		margin-top: 1em;
	}
	.fttag{
		background-color: red;
	}
	.text-radio input:checked ~ .trip-label {
		color: white;
	}
    div.flight-info {

        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
}

/* add by me */
.img-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.list-item {
    list-style: none;
    display: flex;
    align-items: center;
}
.list-item::before {
    content: "\2713";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}
</style>
	<!-- Main -->
	
	<main class="main-body">
		<section class="details-pg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 left-sec">
						<div class="title-sec">
							<h3>

								<span>
									<img src="{% static 'main/images/icon/notepad.png' %}" alt=""> Review Your Booking 
								</span>
								<a href="{% url 'index' %}">Change Room</a>
							</h3>
						</div>
							<div class="box-one review-box">
								<div class="row">
									<div class="col-md-3">
										<div class="img-container">
											<img src="{{data.hInfo.img.0.url}}" class="img-thumbnail" alt="...">
										</div>
									</div>
									<div class="col-md-9">
										<h3 class="mb-1">{{data.hInfo.name}}</h3>
										<h5 style="color: darkgray;"> {{data.hInfo.ad.adr}},{{data.hInfo.ad.adr2}},{{data.hInfo.ad.city.name}},{{data.hInfo.ad.state.name}},{{data.hInfo.ad.postalCode}}</h5>
										<br>
										<div class="row">
											<div class="col-md-6">
												<div class="check-in-out">												
													<div class="cb-top">
														<span>Check-In</span>
														<h4>{{check_in|date:"d" }}</h4>
														<small>{{ check_in|date:"D" }} &nbsp;|&nbsp; 3:00 PM</small>
													</div>
													<div class="cb-top">
														<span>Check-Out</span>
														<h4>{{check_out|date:"d" }}</h4>
														<small>{{ check_out|date:"D" }} &nbsp;|&nbsp;  11:00 AM</small>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<p class="mb-1">
													<b>{{ date_diff|add:+1 }} Days & {{ date_diff }} Nights</b>
												</p>
												<p class="mb-1">
												{% for room in data.hInfo.ops.0.ris%}
													<b>Room {{ forloop.counter }}:</b> {{room.adt}} Adults & {{room.chd}} Child
													<br>
												{% endfor %}
												</p>
											</div>
										</div>
									</div>
									<div class="col-12">										
										<div class="notes-list mt-3">
											<h5>
												<i class="la la-info-circle"></i> Inclusion :
											</h5>
											<ul>
												{% for i in data.hInfo.ops.0.ris.0.fcs %}
												<li class="list-item">{{i}}</li>
												{% endfor %}
											</ul>
										</div>
										<div class="notes-list mt-3">
											<h5>
												<i class="la la-info-circle"></i> Cancellation Policy:
											</h5>
											<ul>
												{% if cancellation_data.cancellationPolicy.ifra == True %}
												<li class="list-item">{{cancellation_data.cancellationPolicy.pd.note}}</li>
												{% else %}
												<li class="list-item">No refund if you cancel this booking.You might be charged upto the full cost of stay (including taxes &amp; service charge) if you do not check-in to the hotel.</li>
												{% endif %}
											</ul>
										</div>
									</div>
								</div>
							</div>

						
						
					<form id="form_url" method="post">
						
						
				       <div id="service-container" class="mt-3 mb-3"></div>
						<div class="title-sec">
							<h3>
								<span>
									<img src="{% static 'main/images/icon/user-plus.png' %}" alt=""> Enter Traveller Details
								</span>
							</h3>
						</div>
						<div class="box-one login-box">
							
								{% comment %} <input id="pay__url" type="hidden" value="{% url  'get_payment' %}">
								<input id="seat__url" type="hidden" value="{% url 'select_seat' %}"> {% endcomment %}
							{% csrf_token %}
							 <div>
								<div class="col-12">
									<h3 style="color: darkgray;" >Traveller Information</h3>
								</div>
								{% for room in data.hInfo.ops.0.ris%}
								<div class="row person__detail">
									
									<div class="col-md-12 col-12">
										<input type="hidden" name="pp" value='ADULT'>
										<h5 style="margin: 0">Room {{ forloop.counter }}</h5>
									</div>
									<div class="col-md-2 col-4 pr-0">
										<div class="form-group">
											<select name="title{{ forloop.counter }}" id="title" class="form-control" required>
												<option value selected disabled hidden>Title</option>
												<option value="Mr">MR.</option>
												<option value="Mrs">MRS.</option>
												<option value="Ms">MS.</option>
											</select>
										</div>
									</div>
									  <div class="col-md-5 col-6">
										<div class="form-group">
											<input style="text-transform:uppercase" type="text" class="form-control first-name" name="first_name{{ forloop.counter }}" placeholder="First Name" required oninput="validateInput(this)">

										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<input style="text-transform:uppercase" type="text" class="form-control" name="last_name{{ forloop.counter }}" placeholder="Last Name" oninput="validateInput(this)">
										</div>
									</div>
							    </div>   
								
								{% endfor %}	
								<div class="row">
									<div class="col-12">
										<h5 class="mb-2">Contact Details</h5>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" min="10" max="10" name="mobile" placeholder="Phone Number" value="{{gstdetail.0.0.mobile}}" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Official Email ID (Will be your Login ID)" name="email" value="{{gstdetail.0.0.email}}" required>
										</div>
									</div>
							    </div>
								<!-- <div class="heading-one" style="display: flex;gap: 1em;align-items: center;">
									<input id="insurance-check" type="checkbox" class="mt-0" checked>
									<h5>Also send my booking details on WhatsApp </h5>
									<img src="{% static 'main/images/icon/whatsapp.png' %}" alt="">
								</div> -->
							</div>
							<div class="notes-list">
								<h5>
									<i class="la la-info-circle"></i> Important Note :
								</h5>
								<ul>
									<li>
										Please ensure that the names of the passengers on the travel documents is the same as on their government issued identity proof.
									</li>
								</ul>
							</div>
							<div class="box-one service-box accordion-three" style="margin-top: 1em;">
							<div class="heading-one">
								<h4>Add your GST Details <span>(Optional)</span></h4>
								<p>Claim credit of GST charges. Your taxes may get updated post submitting your GST details.</p>
								<a class="" id="gst" data-toggle="collapse" data-target="#collapseg" aria-expanded="false" aria-controls="collapse2" style="float: right;margin-top: -2em;cursor: pointer;background: red;padding: 0.3em 0.8em;color: white;border-radius: 4px;">
									Add
								</a>
							</div>
							<div id="collapseg" class="collapse" data-parent="#option-acc-one">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label for="">GST Number:</label>
											<input id="gstnumber" type="text" class="form-control" placeholder="" name="gstno" placeholder="Gst Number">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="">Company Name:</label>
											<input id="companyname" type="text" class="form-control" placeholder="" name="company_name">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="">Email Id:</label>
											<input id="gstemail" type="text" class="form-control" placeholder="Email" name="gst_email">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="">Mobile Number</label>
											<input id="gstmobile" type="text" class="form-control" placeholder="" name="gst_mobile" >
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="">Address:</label>
											<input id="gstaddress" type="text" class="form-control" placeholder="" name="address">
										</div>
									</div>
									<!-- <div class="col-md-3">
										<div class="form-group">
											<label for="">City:</label>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="">Pincode:</label>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="">State:</label>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div> -->
								</div>
						    </div>
						    </div>

						</div>	
						<input type="hidden" name="passengerkey" value="{{ passengerkey }}">
						<input type="hidden" name="apiamount" value="{{apiamount }}">
						<input type="hidden" name="akasa_token" value="{{akasa_token}}">
						<input type="hidden" name="rtype" value="{{rtype}}">
						<input type="hidden" name="amount" value="{{akasaa_data.data.breakdown.totalAmount}}">
						<input type="hidden" name="Person" value="{{Person}}">
						<input type="hidden" name="token" value="{{token}}">
						<input type="hidden" name="adult" value="{{adult}}">
						<input type="hidden" name="child" value="{{child}}">
						<input type="hidden" name="infant" value="{{infant}}">
						<input type="hidden" name="skey" value="{{skey}}">
						<div id="makepayment" class="col-md-4 mt-3">
							{%if not request.user.is_authenticated %}
							<button type="button" id="btn__submit" class="btn btn-block btn-red" data-toggle="modal" data-target="#loginModal">
								Login
							</button>
							{% else %}
							<button id="btn__submit" class="btn btn-block btn-red" type="submit" >
							Make payment
							<i class="la la-long-arrow-right la-lg"></i>
							</button>
							{% endif %}
						</div>			
				</form>
					</div>			
					
					<div class="col-lg-4 right-sec">
						<div class="title-sec">
							<h4>Tariff Details <a href="javascript:void(0)" class="fare-sidebar-open">View Fare Rules</a></h4>
						</div>
						<div class="box-one fare-box">
							
							<p>
								<span>Hotel Charges</span>
								<span>₹ {{total_rs|floatformat:2}}</span>
							</p>
							<p>
								<span>Taxes & Management Fee</span>
								<span>₹ {{total_tax|floatformat:2}}</span>
							</p>
						
							<hr>
							<h4>
								<span>Sub Total</span>
								<span></span>
							</h4>
							<div id="add-on">
								<p>
									<span>
										Savari Promo Offer
										<a href="javascript:void(0)" class="close">
											<i class="fa fa-close"></i>
										</a>
									</span>
									<span class="green savaari-save">(-) ₹ 0</span>
								</p>
							</div>		
							<div class="promocode-add">
								<h3>
									<span>You Pay :</span>
									<span id="total-flight-amount"></span>
								</h3>

								<h5 class="green">
									<span>Total Savings</span>
									<span class="savaari-save">₹ {{data.hInfo.ops.0.tp}}</span>
								</h5>
							</div>
						</div>
						<div class="title-sec">
							<h4>Promo Code</h4>
						</div>
						<div class="box-one promocode-box">
							<h4>Select a Promo Code</h4>
							<div class="input-sec">
								<input id="promo-code-input" type="text" value="" placeholder="Your Promo Code">
								<button class="active">
									Applied
									<i class="la la-check"></i>
								</button>
							</div>
							<div class="promocode-applied">
								<i class="fa fa-check-circle green"></i>
								<small>Congrats! You have availed a discount of Rs.0 , TnC apply.</small>
							</div>
							<ul>
								{% for x in promo %}
								<li>
									<label class="promo-radio2">
										<input type="radio" name="promocode2" value={{x.amount}}>
										<span class="checkmark"></span>
										<div class="promo-info">
											<span class="code">{{x.promo_code}}</span>
											<span class="price yellow">Save ₹ {{x.amount}}</span>
											<p class="small m-0">FLat 13% off on using CITI Bank Credit & Debit cards</p>
										</div>
									</label>
									<div class="promo-terms">
										<a href="{% url 'term'%}">Terms & Conditions</a>
									</div>
								</li>
								{% endfor %}
								
							</ul>
						</div>
					</div>						
                  </div>
				</div>
			</div>
		</section>

	</main>

	
	<div class="modal fade login-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content " id="login-div">
			<div class="modal-header" id="loginModalLabel">
			  <h4 class="modal-title">Please login for better experience</h4>
			  <h4 id="error-msg" style="color: red;"></h4>
			</div>
			<div class="modal-body">
				<form id="login-form" action="{% url 'custlogin' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="">Username / Email / Mobile No.</label>
						<input type="text" name ="username" class="form-control" placeholder="Username / Email / Mobile No." required>
					</div>
					<div class="form-group">
						<label for="">Password</label>
						<input type="password" name ="password" class="form-control" placeholder="******" required>
					</div>
					<div class="form-group">
						<label class="custom-checkbox">
							Remember me
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-group">
						<button class="btn btn-block btn-blue" type="submit">Login</button>
					</div>
				</form>
			</div>
		  </div>
		</div>
	</div>
	

	<div class="modal fade login-modal" id="loginModal2" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" id="loginModalLabel" style="display: flex;flex-direction: column;justify-content: center;align-items: center;gap:2em;">
					<h3 class="modal-title" style="color: red;">Session Expired</h3>
					<img src="{% static 'main/images/icons8-alarm-clock.gif' %}" alt="" style="width: 150px;height: 150px;object-fit: contain;">
					<div style="text-align: center;">
						<h4>Timed Out</h4>
						<p>Please recheck Fare & Availability of your selected flight(s) as air fares are dynamic and subject to change</p>
					</div>
			    </div>
				<div class="modal-body d-flex" style="justify-content: center;gap:1em;">
					<button id="search-again" class="btn btn-blue">New Search</button>
					<button id="refresh" class="btn btn-red px-4">Search Result</button>
				</div>
			</div>
		  </div>
	</div>
	<div class="modal fade login-modal" id="loginModal3" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          	<div class="modal-content">
				<div class="modal-header" id="loginModalLabel" style="background-color: red;">
				<div class="logo" style="background-color: white;padding:1em;border-radius: 10px;">
					<img src="{% static 'main/images/logo.png' %}" alt="">
				</div>
				<div class="comp" style="color: white;margin-top: 0.5em;margin-left: 0.2em;">
					<h2 style="margin: 0;">Online Savaari</h2>
					<p style="margin: 0;">Travel Company</p>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
				</div>
				<table class="table">
					<thead>
					<tr id="table-header">
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Hotel Name</th>
					</tr>
					</thead>
					<tbody id="table-body">
					</tbody>
				</table>
				<div>
					<h5 style="padding-left: 0.5em;">Contact Details & Hotel</h5>
					<table class="table">
						<thead>
						<tr id="table-header">
							<th scope="col">Mobile</th>
							<th scope="col">Gmail</th>
							<th scope="col">Room</th>
						</tr>
						</thead>
						<tbody id="table-body_contact">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn close" style="color:black;border:1px solid red;padding: 0.5em 1.5em;">Edit</button>
					<button id="contiune" type="button" class="btn">Continue</button>
				</div>
			</div>
          </div>
        </div>
    </div>
	<div class="modal fade login-modal" id="loginModal3-insurance" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          	<div class="modal-content">
				<form id="insurance_data" action="">
					<div class="modal-header" id="loginModalLabel" style="background-color: red;">
					<div class="logo" style="background-color: white;padding:1em;border-radius: 10px;">
						<img src="{% static 'main/images/logo.png' %}" alt="">
					</div>
					<div class="comp" style="color: white;margin-top: 0.5em;margin-left: 0.2em;">
						<h2 style="margin: 0;">Online Savaari</h2>
						<p style="margin: 0;">Travel Company</p>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
					</div>
					<table class="table">
						<thead>
						<tr id="table-header">
							<th scope="col">#</th>
							<th scope="col">Title</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Date of Birth</th>
						</tr>
						</thead>
						<tbody id="table-body">
						</tbody>
					</table>
					<div class="modal-footer">
						<button type="button" class="btn close" style="color:black;border:1px solid red;padding: 0.5em 1.5em;">Cancel</button>
						<button id="contiune" type="submit" class="btn">Add</button>
					</div>
				</form>
			</div>
          </div>
        </div>
    </div>
	{% include "savaari_hotel/hotel_footer.html" %}
	<div style="position: fixed;bottom: 0;width: 100%;background: #000;color: white;text-align: center;z-index: 999999;">
		<h4 class="m-0 py-3" style="display: flex;align-items: center;justify-content: center;gap:0.2em">
			<svg class="mr-2" width="25px" height="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style="fill:white;" d="M232 120C232 106.7 242.7 96 256 96C269.3 96 280 106.7 280 120V243.2L365.3 300C376.3 307.4 379.3 322.3 371.1 333.3C364.6 344.3 349.7 347.3 338.7 339.1L242.7 275.1C236 271.5 232 264 232 255.1L232 120zM256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0zM48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48C141.1 48 48 141.1 48 256z"/></svg>
			Session will Expires in <span id="session-timer"></span></h4>
	</div>

	<script src="{% static 'main/js/src/akasa_sevice.js' %}"></script>

<script type="text/javascript">
	let hotel_review_data = JSON.parse('{{ hotel_review_data | escapejs }}')
	console.log(hotel_review_data,"mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm")

	
	let ssr = JSON.parse('{{ akasa_ssr|escapejs }}')
	let seat = JSON.parse('{{ seat|escapejs }}')
	let sr = new Service(ssr, seat, $('#service-container'), parseFloat('{{ apiamount }}'), parseFloat('{{akasaa_data.data.breakdown.totalAmount}}'))
	sr.rend()
	$('#service-container').find("#border-top-contact-tab").click(function(){
		sr.seatdata()
	})
	sr.slider()
	console.log(sr.srr)
	console.log(sr.seat)
	$(document).ready(function(){
		let person = $('[name="Person"]').val()
		let adult = $('[name="adult"]').val()
		let child = $('[name="child"]').val()
		let infant = $('[name="infant"]').val()

		console.log(person, adult, child, infant)
		for(let i = 2; i <= person; i++) {
			let pp;
			let opt_dis;
			let master;
			let miss;
			let date = "";
			let frequentflyer = "";
			if($('[name="isDomestic"]').val() == 'True'){
				international = ""
				console.log($('[name="isDomestic"]').val())
				frequentflyer = `
				<div class="col-md-12" style="margin-bottom: 0.5em;margin-top:-10px">
					<a data-toggle="collapse" data-target="#frequent${i}" aria-expanded="false" aria-controls="collapse2">
						Optional (Frequent Flyer Number)
					</a>
					<div id="frequent${i}" class="collapse" data-parent="#option-acc-one">
						<p style="margin: 0 0 0 1em;font-size:0.9em;font-weight:700;">Frequent Flyer Details</p>
						<p style="font-size: 0.8em;margin:0 0 0.5em 1em;" >Please verify the credit of your frequent flyer miles at the airport checkin counter.</p>
						<div class="row" style="justify-content: center;">
							<div class="col-md-5">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Airline" name="frequent-airline${i}">
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Frequent flyer No." name="frequent-flyer${i}">
								</div>
							</div>
						</div>
					</div>
				</div>`
			}
			if(adult > 1){
				pp = 'ADULT'
				opt_dis = '';
				master = 'Mr'
				miss = 'Ms'
				adult--;
			}
			else if(child > 0){
				pp = 'CHILD'
				opt_dis = 'desabled hidden';
				master = 'Master'
				miss = 'Miss'
				child--;
			}else {
				pp = 'INFANT'
				opt_dis = 'desabled hidden';
				master = 'Master'
				miss = 'Miss'
				date = `
				<div class="col-md-2">
					<div class="form-group">
						<input type="date" class="datepicker hasDatepicker" name="dob${i}" >
					</div>
				</div>
				`
			}
			 $('.person__detail').append(`
				<div class="col-12">
			   		<input type="hidden" name="pp${i}" value=${pp}>
					<h5 style="margin: 0">${pp}</h5>
				</div>
				<div class="col-md-2 col-2 pr-0">
					<div class="form-group">
						<select name="title${i}" id="" class="form-control" required>
							<option value selected disabled hidden>Title</option>
							<option value="${master}">${master}</option>
							<option value="mrs" ${opt_dis}>Mrs</option>
							<option value="${miss}">${miss}</option>
						</select>
					</div>
				</div>
				<div class="col-md-5 col-8">
					<div class="form-group">
						 <input type="text" class="form-control first-name" name="first_name${i}" placeholder="First Name" required>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<input type="text" class="form-control" name="last_name${i}" placeholder="Last Name">
					</div>
				</div>
				${date}
				${frequentflyer}
			`) 

		}

	})
		
	let totalAmount = parseFloat($('#total-flight-amount').text());
	let apiAmount = parseFloat($('input[name="apiamount"]').val())
	let inscAmount = 0;
	let save = 0;
	let mealAdd = 0;
	let addBag = 0;
	

	$('[name="promocode2"]').on('change', function(){
		save = parseInt(this.value);
		let code = $(this).parent().children('div.promo-info').children('span.code').text();
		$('.savaari-save').text(`(-) ₹ ${save}`)
		$('#promo-code-input').val(code)
		
		$('#total-flight-amount').text(Math.round(totalAmount - save + inscAmount + mealAdd + addBag))
		$('input[name="amount"]').val(Math.round(totalAmount - save + inscAmount + mealAdd + addBag))
	})

	$('#promo-code-input').keydown(function(){
		console.log("done")
		save = 0
		$('.savaari-save').text(`(-) ₹ 0`)
		$('[name="promocode2"]:checked').attr('checked', false);
		$('#total-flight-amount').text(Math.round(totalAmount - save + inscAmount + mealAdd + addBag))
		$('input[name="amount"]').val(Math.round(totalAmount - save + inscAmount + mealAdd + addBag))
	})


	$('#login-form').submit(function(e){
		e.preventDefault()
		console.log('done')
		let user = $("input[name='username']").val();
		let password = $("input[name='password']").val();
		$.ajax({
			type: "POST",
			url: "/custlogin",
			data : {
				csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
				username:user,
				password:password,
			},
			success: function(data){
				location.reload();
			},
		});
	})
	
	
	function onremoveMeal(k){
		$('#meal-add').remove();
		$(`#addonmeal${k}`).remove()
		delete sr.selection[k]
		console.log(sr.selection)
		sr.test(sr.selection, 'meal')
		$(`#${k} input`).prop('checked', false)
		$(`#${k} label`).removeClass('select')
	}
	function onremoveBag(k){
		console.log(k)
		$('#meal-add').remove();
		$(`#addonbag${k}`).remove()
		delete sr.bagselection[k]
		console.log(sr.bagselection)
		sr.test(sr.bagselection, 'bag')
		$(`#bagg${k}0 input`).prop('checked', false)
		$(`#bagg${k}0 label`).removeClass('select')
	}

	$('#refresh').click(function(){
		let url =  window.sessionStorage.getItem('search_result');
		window.sessionStorage.removeItem('search_result')
		location.href = url;
	})

	$('#search-again').click(function(){
		location.href = '/';
	})

	const session_time = setInterval(() => {
		let block_ses_time = window.sessionStorage.getItem('stimer');
		if(block_ses_time > 0){
			dtime = block_ses_time - 1
			window.sessionStorage.setItem('stimer', dtime)
			let min = Math.floor(window.sessionStorage.getItem('stimer')/60);
			let sec = window.sessionStorage.getItem('stimer')%60;
			$('#session-timer').text(`${min} min ${sec} sec`)
			if(block_ses_time < 0){
				window.sessionStorage.removeItem('stimer')
				clearInterval(session_time);
				console.log('refresh')
				$('#loginModal2').addClass('show') 
				$('#loginModal2').css({"display": "block", "padding-right": "8px"}) 
				$('body').addClass('modal-open')
				$('body').append(`<div class="modal-backdrop fade show"></div>`)
			}
		}
	}, 1000);

	function logindata(){
		$('#login-div').find('#login-id').submit(function(e){
			e.preventDefault()
			console.log('done')
			let user = $("input[name='username']").val();
			let password = $("input[name='password']").val();
			$.ajax({
				type: "POST",
				url: "/custlogin",
				data : {
					csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
					username:user,
					password:password,
				},
				success: function(data){
					location.reload();
				},
			});
		})

		$('.signup-btn').removeAttr('href')
		$('.signup-btn').click(function(){
			$.ajax({
				type: "GET",
				url: "/api/register_customer/",
				success: function(data){
					success = $($.parseHTML(data))
					$('#login-div').html($(success[19]).find('.login-box'))
				},
				complete: function(){
					data = {}
					$('#login-div').find('#login-id').submit(function(e){
						e.preventDefault()
						$(this).find('input').each(function(){
							let keyy = $(this).attr('name');
							let value = $(this).val()
							value = value.toString().replace(/^\s\t+/gm, '')
							data[keyy] = value;
						})
						$.ajax({
							type: "POST",
							url: "/custlogin",
							data : data,
							success: function(response){
								location.reload();
							},
						});
					})
					$('.login-btn').removeAttr('href')
					$('.login-btn').click(function(){	
						signupdata()
					})
				}
			});
		})


	}
	
	function signupdata(){
		$.ajax({
			type: "GET",
			url: "/custlogin",
			success: function(data){
				success = $($.parseHTML(data))
				$('#login-div').html($(success[19]).find('.login-box'))

			},
			complete: function(){
				logindata()
			}
		});
	}

	signupdata()

	$('#gst').click(function(){
		let gstnumber = '{{gstdetail.0.0.gstin}}' == 'None' ? "" : '{{gstdetail.0.0.gstin}}'
		let gst_email = '{{gstdetail.0.0.email}}' == 'None' ? "" : '{{gstdetail.0.0.email}}'
		let gst_mobile = '{{gstdetail.0.0.mobile}}' == 'None' ? "" : '{{gstdetail.0.0.mobile}}'
		let gst_address = '{{gstdetail.0.0.address}}' == 'None' ? "" : '{{gstdetail.0.0.address}}'
		let gst_company = '{{gstdetail.0.0.address}}' == 'None' ? "" : '{{gstdetail.0.0.company}}'
		$("#gstnumber").val(gstnumber)
		$("#gstemail").val(gst_email)
		$("#gstmobile").val(gst_mobile)
		$("#gstaddress").val(gst_address)
		$("#companyname").val(gst_company)
	})

	$('#form_url').on('submit', function(e){
		e.preventDefault()
		let data = {}
		let checkdata = {}
		$(this).find('select, input').map(function() {
			data[$(this).attr('name')] = $(this).val()
			if ($(this).attr('type') != "hidden" && this.value){
				checkdata[$(this).attr('name')] = $(this).val()
			}
		})
		let straddon = JSON.stringify(sr.selection)
		let bagaddon = JSON.stringify(sr.bagselection)
		let seataddon = JSON.stringify(sr.paxobj)
		console.log(seataddon, bagaddon, straddon)
		
		$('#addoninput').remove()
		$('#bagaddoninput').remove()
		$('#insuranceinput').remove()
		$('#routeinfoinput').remove()
		$(this).append(`<input id='addoninput' type="hidden" name="addon" value='${straddon}'>`)
		$(this).append(`<input id='seatinput' type="hidden" name="seataddon" value='${seataddon}'>`)
		$(this).append(`<input id='bagaddoninput' type="hidden" name="bagaddon" value='${bagaddon}'>`)
		data['addon'] = straddon;
		data['bagaddon'] = bagaddon;
		data['seataddon'] = seataddon;
		console.log(data)
		let person = parseInt(data['Person'])
		console.log(checkdata)
		let newcheck = {};
		let pax_data = []
		for (let i = 0;i<=(person-1);i++){
			if (i == 0){
				pax_data.push({
					first_name: checkdata['first_name'],
					last_name: checkdata['last_name'],
					title: checkdata['title'],
					passport: checkdata['passport'] || "-"
				})
			}
			else {
				pax_data.push({
					first_name: checkdata[`first_name${i + 1}`],
					last_name: checkdata[`last_name${i + 1}`],
					title: checkdata[`title${i + 1}`],
					passport: checkdata[`passport${i + 1}`] || "-"
				})
			}
		}	
		$('#table-body').html("")
		$('#table-body').append(Object.values(pax_data).map((el, i) => {
			return `<tr>
				<th scope="row">${i + 1}</th>
				<td>${el['title']}</td>
				<td>${el['first_name']}</td>
				<td>${el['last_name']}</td>
				<td>${el['passport']}</td>
			</tr>
		`}))
		$('#table-body_contact').html("")
		$('#table-body_contact').append(`
			<tr>
				<td>${checkdata['mobile']}</td>
				<td>${checkdata['email']}</td>
				<td>${checkdata['insurance_checked']}</td>
			</tr>
		`)
		window.sessionStorage.setItem('review_form_data', JSON.stringify(data))
		$('#loginModal3').addClass('show') 
		$('#loginModal3').css({"display": "block", "padding-right": "8px"}) 
		$('body').addClass('modal-open')
		$('body').append(`<div class="modal-backdrop fade show"></div>`)
	})
	$('.close').click(function(){
		$('#loginModal3').removeClass('show') 
		$('#loginModal3').css({"display": "none", "padding-right": "0"}) 
		$('body').removeClass('modal-open')
		$(`.modal-backdrop`).remove()
	})
	$('#loginModal3-insurance .close').click(function(){
		$('#loginModal3-insurance').removeClass('show') 
		$('#loginModal3-insurance').css({"display": "none", "padding-right": "0"}) 
		$('body').removeClass('modal-open')
		$(`.modal-backdrop`).remove()
		$('#insurance-check').attr('checked', false)
	})
	$('#contiune').click(function(){
		document.getElementById('form_url').submit();
	})

	$(document).ready(function(){
		let person = $('[name="Person"]').val()
		let adult = $('[name="adult"]').val()
		let child = $('[name="child"]').val()
		let infant = $('[name="infant"]').val()

		console.log(person, adult, child, infant)
		for(let i = 0; i < person; i++) {
			let pp;
			let opt_dis;
			let master;
			let miss;
			if(adult >= 1){
				pp = 'ADULT'
				opt_dis = '';
				master = 'Mr'
				miss = 'Ms'
				adult--;
			}
			else if(child > 0){
				pp = 'CHILD'
				opt_dis = 'desabled hidden';
				master = 'Master'
				miss = 'Miss'
				child--;
			}else {
				pp = 'INFANT'
				opt_dis = 'desabled hidden';
				master = 'Master'
				miss = 'Miss'
			}
			$('#loginModal3-insurance #table-body').append(`
			<tr>
				<td>
					<div class="form-group">
			   			<input class="form-control" type="hidden" name="pp${i ? (i + 1) : ""}" value=${pp}>
						<h5 style="margin: 0">${pp}</h5>
					</div>
				</td>
				<td>
					<div class="form-group">
						<select name="title${i ? (i + 1) : ""}" id="" class="form-control" required>
							<option value selected disabled hidden>Title</option>
							<option value="${master}">${master}</option>
							<option value="mrs" ${opt_dis}>Mrs</option>
							<option value="${miss}">${miss}</option>
						</select>
					</div>
				</td>
				<td>
					<div class="form-group">
						<input type="text" class="form-control" name="first_name${i ? (i + 1) : ""}" placeholder="First Name" required>
					</div>
				</td>
				<td>
					<div class="form-group">
						<input type="text" class="form-control" name="last_name${i ? (i + 1) : ""}" placeholder="Last Name" required>
					</div>
				</td>
				<td>
					<div class="form-group">
						<input style="padding: 0em 1em;" class="form-control datepicker hasDatepicker" type="date" name="dob${i ? (i + 1) : ""}" required>
					</div>
				</td>
			</tr>
			`)
		}

	})
</script>	
  <script>
 function validateInput(element) {
    var firstName = $(element).val();
    var pattern = /^[A-Za-z\s]+$/;
    if (!pattern.test(firstName)) {
        $(element).val('');
        return;
    }
    var previousFirstNames = $('.first-name').not(element);
    var duplicateExists = previousFirstNames.filter(function() {
        return $(this).val().toUpperCase() === firstName.toUpperCase();
    }).length > 0;
    if (duplicateExists) {
        alert("You cannot enter the same name in multiple rooms.");
        $(element).val(''); 
    }
} 

</script> 
 {% comment %} <script>
function validateInput(element) {
    var firstName = $(element).val().toUpperCase(); 
    var previousFirstNames = $('.first-name').not(element);
    var duplicateExists = previousFirstNames.filter(function() {
        return $(this).val().toUpperCase() === firstName;
    }).length > 0;
    if (duplicateExists) {
        alert("You cannot enter the same name in multiple rooms.");
        $(element).val(''); 
    }
}
</script> 
<script>
function validateInput(input) {
    input.value = input.value.replace(/[^a-zA-Z]/g, '');
}
</script> {% endcomment %}
</body>
</html>