{%load static%}
{% include "savaari_hotel/hotel_header.html" %}
<main class="main-body">
	<form id="booking-form" action="{% url 'hotel_payments' %}" method="post">
		{% csrf_token %}
		<section class="payment-pg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 left-sec">
						<div class="title-sec">
							<h3>
								<span>
									<img src="{% static 'main/images/icon/credit-card.png' %}" alt=""> Payment Method
								</span>
							</h3>
						</div>
						<div class="box-one">
							<div class="tab-box-three">
								<ul class="nav nav-pills" role="tablist" style="justify-content: flex-start;">
									<li class="nav-item">
										<a class="nav-link active" id="tab-one" data-toggle="pill" href="#one-tab"
											role="tab" aria-controls="one-tab" aria-selected="true">Instant Payment</a>
									</li>

									<li class="nav-item">
										<a class="nav-link" id="tab-three" data-toggle="pill" href="#three-tab"
											role="tab" aria-controls="three-tab" aria-selected="false">Savaari
											Wallet</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane fade show active" id="one-tab" role="tabpanel"
										aria-labelledby="tab-one">
										<div class="paybox">
											<h4>Pay Instant</h4>
											<div class="row justify-content-center">
												<div class="col-md-4 col-6">
													<div class="upi-step-box">
														<img src="{% static 'main/images/icon/upi/1.png' %}" alt="">
														<p>
															Keep UPI app open on your mobile phone.
														</p>
													</div>
												</div>
												<div class="col-md-4 col-6">
													<div class="upi-step-box">
														<img src="{% static 'main/images/icon/upi/2.png' %}" alt="">
														<p>
															Enter VPA and click on Pay Now.
														</p>
													</div>
												</div>
												<div class="col-md-4 col-6">
													<div class="upi-step-box">
														<img src="{% static 'main/images/icon/upi/3.png' %}" alt="">
														<p>
															Savari will send a payment request to your UPI app.
														</p>
													</div>
												</div>
												<div class="col-md-4 col-6">
													<div class="upi-step-box">
														<img src="{% static 'main/images/icon/upi/4.png' %}" alt="">
														<p>
															Enter MPIN on your UPI app to authorize payment.
														</p>
													</div>
												</div>
												<div class="col-md-4 col-6">
													<div class="upi-step-box">
														<img src="{% static 'main/images/icon/upi/5.png' %}" alt="">
														<p>
															Congratulations your payment is done.
														</p>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-12 mt-4">
													<div class="total-pay">
														<h1>₹ {{data.hInfo.ops.0.tp}}</h1>
														<button type="button" class="btn btn-red" id="rzp-button1">Pay
															Now</button>
													</div>
													<p class="small m-0">
														By clicking on Pay Now, you are agreeing to our Terms &
														Conditions , Privacy policy, User Agreement and Covid-19
														Guidelines.
													</p>
												</div>
											</div>
										</div>
									</div>


									<div class="tab-pane fade" id="three-tab" role="tabpanel"
										aria-labelledby="three-tab">
										<div class="paybox">
											<h4>Pay with Savaari Wallet</h4>
											<div class=""
												style="display: flex;justify-content: space-between;align-items: center;">
												<div class="balance">
													<h4 style="margin: 0;">Savaari Balance</h4>

													<p id="balance-status" class="m-0"
														style="color: red;font-size:0.6rem;text-align:start;"></p>

													<h2 style="text-align: start;border-bottom: 0.5px dashed black;">₹
														<span id="wallet-amount">{{wallet_balance}}</span>
													</h2>
												</div>
											</div>
											<div class="row">
												<div class="col-12 mt-4">
													<div class="total-pay">
														<h1>₹ {{data.hInfo.ops.0.tp}}</h1>
														<input type="submit" class="btn btn-red" id="btn-wallet"
															value="Pay Now">
													</div>
													<p class="small m-0">
														By clicking on Pay Now, you are agreeing to our Terms &
														Conditions , Privacy policy, User Agreement and Covid-19
														Guidelines.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 right-sec">
						<div class="title-sec">
							<h4>Payment Details</h4>
						</div>
						<div class="box-one payment-box">
							
							<p>
								<span>Total Room Price</span>
								<span>₹ {{total_rs}}</span>
							</p>
							
							
							<p>
								<span>Convenience Fee</span>
								<span>₹ {{total_tax}}</span>
							</p>
							<div class="total-pay">
								<h3>
									<span>You Pay :</span>
									<span>₹ {{data.hInfo.ops.0.tp}}</span>
								</h3>
							</div>
						</div>
						<div class="title-sec">
							<h4>Booking Summary</h4>
						</div>
						<div class="box-one flight-box">
							<div class="top-sec">
								<img src="" alt="">
								<span><b>{{data.hInfo.name}}</b></span>
							</div>
							<div class="bottom-sec">
								<div>
									<span>{{data.hInfo.ad.adr2}},{{data.hInfo.ad.city.name}},{{data.hInfo.ad.state.name}},{{data.hInfo.ad.postalCode}}</span>
									<span class="small">Rooms 1: Adults {{data.hInfo.ops.0.ris.0.adt}} & Child {{data.hInfo.ops.0.ris.0.chd}}</span>
								</div>
								
								<div>
									<span></span>
									<span class="small"></span>
								</div>
							</div>
						</div>
						<div class="title-sec">
							<h4 style="display: flex;align-items: center;">Contact Details 
								<button type="button" class="btn" data-toggle="modal" data-target="#loginModal">
                                    Edit
                                </button>
							</h4>
						</div>
						<div class="box-one contact-box">
							<div class="bottom-sec">
								<p>
									<span>Email : {{ email }}</span>
								</p>
								<p>
									<span>Phone : </span>+91-{{ mobile }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
</main>

{% include "savaari_hotel/hotel_footer.html" %}

<script>
	let jsondata = JSON.parse('{{easebuzzjson|escapejs}}') // easebuzz url jsondata
	// $('#booking-form').submit(function(e){
	// 	e.preventDefault()
	// 	console.log('no error')
	// })
	$('#rzp-button1').click(function () {
		console.log('no error easebuzz')
		location.href = jsondata.data;
	})
</script>

<script src="{% static 'main/js/jquery.min.js' %}"></script>

<!-- Popper Min -->
<script src="{% static 'main/plugins/bootstrap/js/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Jquery UI -->
<script src="{% static 'main/plugins/Jquery-ui/jquery-ui.min.js' %}"></script>

<!-- Owl Carousel -->
<script src="{% static 'main/plugins/owl-carousel/js/owl.carousel.min.js' %}"></script>

<!-- Star Rating -->
<script src="{% static 'main/plugins/star_rating/star-rating.js' %}"></script>

<!-- Quantity -->
<script src="{% static 'main/plugins/quantity.js' %}"></script>

<!-- Phone -->
<script src="{% static 'main/plugins/phone/phone.js' %}"></script>

<!-- Select -->
<script src="{% static 'main/plugins/selectbox.js' %}"></script>

<!-- Select -->
<script src="{% static 'main/plugins/seat-booking/seat.js' %}"></script>

<!-- Custom -->
<!-- <script src="{% static 'main/js/default.js' %}"></script> -->

<script src="{% static 'admin/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'admin/assets/js/app.js' %}"></script>

<script src="{% static 'admin/plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'admin/plugins/sweetalerts/custom-sweetalert.js' %}"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>

	$(document).ready(function () {
		// Add click event handler for the button with ID 'btn-wallet'
		$('#btn-wallet').click(function (event) {
			event.preventDefault(); // Prevent the default form submission

			review_data = {};
			review_data["csrfmiddlewaretoken"] = $('[name="csrfmiddlewaretoken"]').val();
			review_data["pay_type"] = 'savaari_wallet';
			console.log(review_data);
			$.ajax({
				type: "POST",
				url: "{% url 'hotel_payments' %}",
				data: review_data,
				success: function (response) {
					console.log(response);
					if (response.redirect_url) {
						if (response.redirect_url === 'hotel_booking_history') {
							location.href = '{% url "hotel_booking_history" %}';
						} else if (response.redirect_url === 'hotel_home') {
							location.href = '{% url "hotel_home" %}';
						}
					} else {
						// Handle the success case
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown);
				}
			});

			console.log('savaari_wallet');
		});
	});


</script>
</body>

</html>