{% load static %}
{% include "savaari_hotel/hotel_header.html" %}


	<!-- Main -->
	<main class="main-body">
		<!-- Offer Details One -->
		<section class="offer-details-one" style="background-image: url('{% static "hotel/images/offer-details/bg-1.jpg"%}')";>
			<div class="container">
				<div class="row gap-1">
					<div class="col-12">
						<div class="offer-provider">
							<div class="img-sec">
								<img src="{% static 'hotel/images/icon/bank/big/icici.jpg' %}" alt="">
							</div>
							<h2>Offer valid on ICICI Bank Credit Card only.</h2>
							<ul>
								<li>
									<div class="upto-box-one">
										<h1>Flat 12% Off</h1>
										<p>up to ₹1,500 <br>on Domestic Flights</p>
									</div>
								</li>
								<li>
									<div class="upto-box-one">
										<h1>Flat 10% Off</h1>
										<p>up to ₹6,000 <br>on International Flights</p>
									</div>
								</li>
								<li>
									<div class="upto-box-one">
										<h1>Flat 15% Off</h1>
										<p>up to ₹2,500 <br>on Domestic Hotels</p>
									</div>
								</li>
								<li>
									<div class="upto-box-one">
										<h1>Flat 10% Off</h1>
										<p>up to ₹6,000 <br>on Holidays</p>
									</div>
								</li>
								<li>
									<div class="upto-box-one">
										<h1>Flat 15% Off</h1>
										<p>up tp ₹500 <br>on Buses</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-12">
						<div class="bg-search">
							<div class="row m-0 align-items-center gap-1">
								<div class="col-md-4 cus-col">
									<div class="hotel-input hotel-input-full">
										<div class="hotel-group">
											<input type="text" value="" placeholder="Select City, Location or Hotel Name (Worldwide)">
											<i class="fa fa-map-marker"></i>
										</div>
									</div>
								</div>
								<div class="col-md-3 cus-col">
									<div class="hotel-input">
										<div class="hotel-group pr-2">
											<input type="text" class="datepicker" value="">
											<i class="fa fa-calendar"></i>
										</div>
										<div class="hotel-group pl-2">
											<input type="text" class="datepicker" value="">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
								</div>
								<div class="col-md-3 cus-col">
									<div class="add-person">
										<div class="person-quantity">
											<span class="small">Adult (s)</span>
											<div class="quantity-box">
												<button type="button" class="sub">-</button>
												<input type="number" value="0" min="0" max="10" />
												<button type="button" class="add">+</button>
											</div>
										</div>
										<div class="person-quantity">
											<span class="small">Child (s)</span>
											<div class="quantity-box">
												<button type="button" class="sub">-</button>
												<input type="number" value="0" min="0" max="10" />
												<button type="button" class="add">+</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 cus-col">
									<button class="btn btn-block btn-red">
										Search Hotels
										<i class="la la-long-arrow-right la-lg"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Offer Details Two -->
		<section class="offer-details-two">
			<div class="container">
				<div class="row gap-2">
					<div class="col-lg-8 col-md-7">
						<div class="left-sec">
							<div class="box-two">
								<div class="head-sec">
									<h3 class="m-0">Quick Look</h3>
								</div>
								<div class="details-sec">
									<ul class="icon-sec">
										<li>
											<img src="{% static 'hotel/images/icon/offer-details/1.png' %}" alt="">
											<p>
												Coupon Code
												<b>YRICICICC</b>
											</p>
										</li>
										<li>
											<img src="{% static 'hotel/images/icon/offer-details/2.png' %}" alt="">
											<p>
												Validity Till
												<b>Mar 28, 2023</b>
											</p>
										</li>
										<li>
											<img src="{% static 'hotel/images/icon/offer-details/3.png' %}" alt="">
											<p>
												Valid On
												<b>Tuesday</b>
											</p>
										</li>
										<li>
											<img src="{% static 'hotel/images/icon/offer-details/4.png' %}" alt="">
											<p>
												Applicable on
												<b>On Flights, Domestic Hotels, Holidays and Bus</b>
											</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="box-two">
								<div class="head-sec">
									<h3 class="m-0">ICICI Credit Card Savaari Offer</h3>
								</div>
								<div class="details-sec">
									<p class="m-0">
										Sale with ICICI Bank Credit Cards on flights, domestic hotels and bus. <b>Flat 12% OFF (up to Rs. 1,500) on domestic flights, Flat 10% OFF
											(upto Rs. 6,000) on international flights,
											Flat 15% OFF (upto Rs. 2,500) on domestic hotels, Flat 10% OFF (upto Rs. 6,000) on holidays</b> and <b>Flat 15% OFF (upto Rs. 500) on
											bus</b>.
										Hurry !
										This offer is valid every Tuesday,
										<b>between January 3 - March 28, 2023</b>. Use <b>YRICICICC</b> for ICICI Bank Credit Cards.
									</p>
								</div>
							</div>
							<div class="box-two">
								<div class="head-sec">
									<h3 class="m-0">Savaari ICICI Credit Card Offers on Travel</h3>
								</div>
								<div class="details-sec">
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Product</th>
													<th>Min. Transaction Value</th>
													<th>Discount</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Domestic Flight</td>
													<td>₹3,500</td>
													<td>
														<b>Flat 12% OFF (up to ₹1,500)</b>
													</td>
												</tr>
												<tr>
													<td>International Flight</td>
													<td>₹15,000</td>
													<td>
														<b>Flat 10% OFF (up to ₹6,000)</b>
													</td>
												</tr>
												<tr>
													<td>Domestic Hotels</td>
													<td>₹15,000</td>
													<td>
														<b>Flat 15% OFF (up to ₹2,500)</b>
													</td>
												</tr>
												<tr>
													<td>Holidays</td>
													<td>₹15,000</td>
													<td>
														<b>Flat 10% OFF (up to ₹6,000)</b>
													</td>
												</tr>
												<tr>
													<td>Bus</td>
													<td>No min. booking amount</td>
													<td>
														<b>Flat 15% OFF (up to ₹500)</b>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<ul class="disk-list">
										<li>
											Offer validity : <b>Every Tuesday between January 3 - March 28, 2023</b>
										</li>
										<li>
											Offer valid on <b>ICICI Bank Credit Cards</b> only.
										</li>
										<li>
											Use promo code : <b>YRICICICC</b> to avail this offer.
										</li>
										<li>
											Offer valid once per product, per user, per month.
										</li>
										<li>
											This offer is valid only on online confirmed bookings.
										</li>
										<li>
											This offer is valid on selected domestic hotels only.
										</li>
									</ul>
								</div>
							</div>
							<div class="box-two">
								<div class="head-sec">
									<h3 class="m-0">Terms and Conditions</h3>
								</div>
								<div class="details-sec">
									<ul class="disk-list">
										<li>
											This marketing program ("Programs") from Yatra and ICICI Bank is open to the selected set of ICICI Bank Credit Cards
											holders("Customer(s)"/"Cardholder(s)").
										</li>
										<li>
											To be eligible for the offer, the cardholder is required to use his/her ICICI Bank Credit Cards for making the required booking through
											any of the booking mode as mentioned in the communication. For clarity purpose please note ‘website bookings’ are booking which are made
											through the official website of Yatra i.e. or through Mobile Website i.e. m.yatra.com.
											Mobile App booking refers to transactions that are undertaken on the Yatra website which has been downloaded as an application to the
											cardholder’s registered mobile number.
										</li>
										<li>
											Offer will not be applicable on Amazon Pay, Business, Commercial & Corporate ICICI Bank Credit Cards.
										</li>
										<li>
											Offer is not applicable for customer redirected from affiliate and meta channels.
										</li>
										<li>
											Cardholders are required to visit the merchant specific terms and conditions that may be applicable on bookings made through each of the
											modes and get acquainted and agree with the
											same.
										</li>
										<li>
											Offer is only valid on the eligible BINs shared by bank. If the BIN series of the card does not match with the one provided by bank to
											Yatra, then the cardholder will need to
											approach respective Bank.Yatra shall be entitled to withhold or deny the offer to the customer.
										</li>
										<li>
											The discount extended can be availed by the customers making a full purchase only through their ICICI Bank Credit Cards on Yatra's
											website ("Website").
										</li>
										<li>
											Customers have to submit the promo code "YRICICICC " in the promo code field on Yatra.com's payment page and necessarily use ICICI Bank
											Credit Cards for the transaction. The amount
											of discount received will reflect at the next step on the website (Yatra.com).
										</li>
										<li>
											In case of full/partial cancellation Yatra's offer stand void and customer will not be eligible for the discount. Yatra will refund the
											amount after adjusting the discount and any
											other applicable charges and penalties.
										</li>
										<li>
											Discount will not be valid on cancelled tickets/bookings or for charge back transactions. Yatra reserves the right to reverse the
											discount in case the ticket/booking is found to be
											cancelled later.
										</li>
										<li>
											This offer is not valid for travel agents. Yatra reserves the right to recover the discounted amount if such a case is brought or comes
											to Yatra notice.
										</li>
										<li>
											This offer is valid only on online bookings made on Yatra's website () and the customer is required to mention the promo code for all
											bookings on the website.
										</li>
										<li>
											All tickets will be subject to availability at the time of booking and will be governed by the standard airline terms and conditions.
										</li>
										<li>
											All standard Terms and Conditions (as amended from time to time) mentioned on Yatra website would apply. In case of third party
											services/products, customer's sole recourse against
											the third party services/products being provided by third party suppliers shall be with the concerned suppliers only, and shall be
											subject to said supplier's own terms and
											conditions.
										</li>
										<li>
											This offer is not valid for split bookings where customer makes multiple bookings to avail multiple discounts. Yatra reserves the right
											to recover the discounted amount or cancel
											the booking if such a case is brought or comes to Yatra's notice.
										</li>
										<li>
											All purchases made under the program shall be subject to applicable cancellation/date change rules. In case of a cancellation, Yatra
											shall reverse the discount and shall not
											provide additional discount to the customer.
										</li>
										<li>
											Discounts provided under the offer cannot be clubbed with any other offer or discount extended by Yatra as part of any other
											arrangement.
										</li>
										<li>
											Products offered under this program are subject to availability.
										</li>
										<li>
											All government levies like sales tax, TDS, any local tax, octroi etc., shall be payable by the customer as applicable at the time the
											respective discounts were offered.
										</li>
										<li>
											Customers are not bound in any way to participate in the programs. Any such participation is voluntary and the same is being made purely
											on a 'best effort basis'.
										</li>
										<li>
											Yatra reserves the right to modify or change any of the terms and conditions applicable to these programs/offer at any time without any
											prior notice.
										</li>
										<li>
											Any disputes arising out of this offer shall be subject to the exclusive jurisdiction of competent courts at Gurgaon, Haryana, India
											only.
										</li>
										<li>
											This is a limited period offer and both the partners can change the offer terms anytime.
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-5">
						<div class="right-sec">
							<div class="box-one twitter-box">
								<h4>Share this offer</h4>
								<div class="btn-sec">
									<a href="#">
										<img src="{% static 'hotel/images/icon/twitter-follow.png' %}" alt="">
									</a>
									<a href="#" class="btn btn-primary">
										<i class="fa fa-thumbs-up"></i> Like 43
									</a>
								</div>
							</div>
							<div class="box-one deals-box">
								<h3>Deals in Your Inbox</h3>
								<p>Sign up for emails from Yatra about travel deals and promotions.</p>
								<div class="newsletter-one">
									<div class="form-group">
										<i class="fa fa-envelope"></i>
										<input type="text" class="form-control" placeholder="Enter your email">
									</div>
									<button class="btn btn-blue">Sign Up</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	{% include "savaari_hotel/hotel_footer.html" %}