{% load static %}
{% include "savaari_hotel/hotel_header.html" %}

	<!-- Main -->
	<main class="main-body">
		<section class="heading-banner" style="background-image: url('{% static "hotel/images/bg/pb-1.png"%}')";>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="m-0">Great Offers & Amazing Deals</h1>
					</div>
				</div>
			</div>
		</section>

		<section class="offer-pg">
			<div class="container">
				<div class="row gap-2">
					<div class="col-12">
						<ul class="menu-list">
							<li><a href="#">Domestic Hotels</a></li>
							<li><a href="#">International Hotels</a></li>
							<li><a href="#">Hotels</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/1.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/2.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/3.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/1.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/2.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/3.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/1.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/2.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/3.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/1.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="offer-details.html" class="box-one hotel-offer-one">
							<div class="img-sec">
								<img src="{% static 'hotel/images/offers/2.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>

{% include "savaari_hotel/hotel_footer.html" %}