{% load static%}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="{% static 'main/images/favicon.png' %}">

	<title>Online Savaari</title>

	<!-- Custom -->
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/custom.css' %}">
</head>

<body>
	<!-- Main Header -->
	{% include "online_savaari/header.html" %}


	<!-- Main Two -->
	<main class="main-body">
		<!-- Agent Banner -->
		<section class="agent-banner" style="background-image:url({% static 'main/images/bg/5.png' %});">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one">
							<!-- <h1>Plan your Travel with us and we will take care of everything</h1> -->
							<h1>trouble free travel for the travellers</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- About Info -->
		<section class="about-info py-5 text-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one">
							<h1>About Online Savaari</h1>
						</div>
						<div class="content">
							<p>
								We are a online travel company in India providing a 'best in all' customer experience
								with the goal to be 'India's Best Travel Planner'.
								Through our website, www.onlinesavaari.com, our mobile applications and our other
								associated platforms, leisure and business travelers can explore,
								research, compare prices and book a wide range of services catering to their travel
								needs. Since our inception in 2022, many
								customers have used one or more of our comprehensive travel-related services, mainly
								domestic and international air ticketing in which we are the best.
							</p>
							<p>
								A strong and "trusted" travel brand of India, our strengths include a large and loyal
								customer base, a multi-channel platform for leisure and
								business travelers, a robust mobile eco-system for a spectrum of travelers and
								suppliers, a strong technology platform designed to deliver a high
								level of scalability and innovation and a seasoned senior management team comprising of
								industry executives with deep roots in the travel industry
								in India and abroad.
							</p>
							<p>
								"Savaari", which means "Journey" in Hindi, is one of India's most well-recognized and
								awarded brands.Our mission is to remove all obstacle between you and your travel plan
								and make your journey smooth and memorable.
								Our domestic and international flight ticket booking service is too easy to use and our
								customer support is open for 24X7. We are always ready to assist you.
								<!-- Among others, we have won multiple awards from
								the Ministry of Tourism, Government of India, including the National Tourism Award for "Outstanding Performance as a Domestic Tour Operator" in
								Category I (Rest of India) for the assessment year 2014-15; three awards at the India Tourism Awards for 'Outstanding performance as a Domestic Tour
								Operator (Rest of India)','Outstanding performance as a Domestic Tour Operator in Jammu and Kashmir' and 'Outstanding performance as an Inbound Tour
								Operator-Cat C in 2013 & the 'Best Domestic Tour Operator' award in 2010. Some other industry awards are: ET ("Economic Times") Brand Equity's Most
								Trusted Online Travel Brand of 2015; Travel & Hospitality named us the Most Outstanding Online Company: business to consumer or B2C; and in 2014,
								onlinesavaari.com won the CNBC Awaaz Travel Award. In 2013, we were recognized by Matrixlab as the Most Popular Brand in Travel & Leisure Category and in
								2012, onlinesavaari.com won the award for 'Best Travel Website' in IAMAI's Annual India Digital Awards. -->
							</p>
							<!-- <p>
								The acquisition of companies, intellectual property and talented individuals has been central to our growth strategy. In 2022, we acquired TSI and
								its subsidiaries in order to expand our B2B business, particularly our international air ticketing for small and medium scale enterprises. In 2012,
								we acquired Travelguru B2B and B2C entities from Travelocity, which remain well-established hotel aggregators in India. Through this acquisition, we
								expanded our hotel business by establishing more direct hotel relationships in India and improved our inventory of affordable travel options.
								Recently, we also acquired Air Travel Bureau Ltd. ("ATB"), India's largest independent corporate travel services provider to further strengthen our
								position in the growing corporate travel market in India. Now, with this combined entity, Online Savaari is the largest corporate travel services platform
								in
								India by Gross Bookings. We have also leveraged our leading position in the Indian travel ecosystem to make several "acqui-hires", including the
								teams from mGaadi and dudegenie, in order to grow our business.
							</p> -->
							<p>
								We are dedicated to ensuring a superior user experience on our platform and a critical
								component of that is customer service. We provide customer
								support at all stages of our customer's journey – before, during and after. Our customer
								"touch-points" include our website, mobile platforms,
								retail stores, call centres, a network of agents across India addressing the needs of a
								large fragmented market of travel agents.
							</p>
							<!-- <ul>
								<p>
									You can also follow onlinesavaari.com on:
								</p>
								<li>
									Facebook
									<a href="#" target="_blank">http://www.facebook.com/Savari</a>
								</li>
								<li>
									Twitter
									<a href="#" target="_blank">http://www.instagram.com/Savari</a>
								</li>
								<li>
									Instagram
									<a href="#" target="_blank">http://www.facebook.com/Savari</a>
								</li>
							</ul> -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Agent Banner -->
		<section class="agent-banner" style="background-image:url({% static 'main/images/bg/4.png' %});">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one">
							<h1>Sign up for an Agent or Business Account</h1>
							<h4>The LARGEST platform to book & manage all your Business Travels</h4>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- About Team -->
		<section class="about-team py-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one text-center">
							<h1>Online Savaari Leadership Team</h1>
						</div>
						<div class="team-box">
							<div class="team-head">
								<p class="m-0">
									<span>SHARMISTHA BISWAS</span>
									Director
								</p>
							</div>
							<div class="team-body">
								<div class="row flex-column-reverse flex-md-row">
									<div class="col-md-8">
										<div class="details-sec">
											<p>
												Sharmistha Biswas is the Co-founder and Director of ONLINE SAVAARI
												PRIVATE LIMITED.
											</p>
											<p>
												Sharmistha is a well known Optometrist from India and practicing for
												years. She is also the co-founder of Roxy Studio, a Well-known brand
												From Mumbai. After the huge success of Roxy Studio, She took an
												initiative to make trouble free travel for the travellers. </p>
											<!-- <p>
												His most recent role prior to Yatra.com was as Director Group Operations and Technology of the Ebookers Group in London. Prior to
												his stint at Ebookers, Sharmistha worked with Ford Motor Company in their Business Strategy team based in London and before that spent
												over 6 years with Arthur Andersen in their offices in Delhi and London. Dhruv holds an MBA from INSEAD and is also a qualified
												Chartered Accountant.
											</p> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="img-sec">
											<img src="{% static 'main/images/team/sharmistha_final.jpg' %}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="team-box">
							<div class="team-head">
								<p class="m-0">
									<span>VISHAL BHARATKAR</span>
									Additional Director
								</p>
							</div>
							<div class="team-body">
								<div class="row flex-column-reverse flex-md-row">
									<div class="col-md-8">
										<div class="details-sec">
											<p>
												Vishal Bharatkar is the Co-Founder & Additional Director of ONLINE
												SAVAARI PRIVATE LIMITED.
											</p>
											<p>
												Vishal is a well known businessman from India. In the past Vishal
												executed many business initiatives and made those successful. It is the
												first time he initiated a venture in the online travel industry. He is
												now ready to execute the 'trouble free travel for the travellers'
												initiative and make Online Savaari a leading online travel portal in
												India.
											</p>
											<!-- <p>
												His most recent role prior to Yatra.com was as Director Group Operations and Technology of the Ebookers Group in London. Prior to
												his stint at Ebookers, Kushal worked with Ford Motor Company in their Business Strategy team based in London and before that spent
												over 6 years with Arthur Andersen in their offices in Delhi and London. Dhruv holds an MBA from INSEAD and is also a qualified
												Chartered Accountant.
											</p> -->
										</div>
									</div>
									<div class="col-md-4">
										<div class="img-sec">
											<img src="{% static 'main/images/team/vishal_final.jpg' %}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="team-box">
							<div class="team-head">
								<p class="m-0">
									<span>KUSHAL CHAKRABORTY</span>
									Chairman And CEO
								</p>
							</div>
							<div class="team-body">
								<div class="row flex-column-reverse flex-md-row">
									<div class="col-md-8">
										<div class="details-sec">
											<p>
												Kushal Chakraborty is the Co-Founder & CEO of ONLINE SAVAARI PRIVATE
												LIMITED.
											</p>
											<!-- <p>
												Since its successful launch in January 2006, Kushal, has lead onlinesavaari.com to grow from a 3 member organisation to a 2,400 people strong
												organisation making onlinesavaari.com the leading travel brand in the country. In 2011, Dhruv was listed by Fortune magazine amongst the top
												40 CEO's in India and he also served as the Vice Chairman of the Internet and Mobile Association of India from April' 2011 to June'
												2013 and currently serves as the Chairman of FICCI's online travel and technology committee.
											</p> -->
											<p>
												Kushal is a well-known businessman from India. He is also Co-funder of
												Roxy studio, a well-known brand from Mumbai, and Convide Solutions, a
												well-known IT company from Mumbai. With his previous experience in the
												IT industry now he has come to join the initiative 'trouble free travel
												for the travellers' and is ready to make it the most successful online
												travel brand. </p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="img-sec">
											<img src="{% static 'main/images/team/kushal_final.jpg' %}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Agent Banner -->
		<section class="agent-banner" style="background-image:url({% static 'main/images/bg/4.png' %});">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one">
							<h1>Sign up for an Agent or Business Account</h1>
							<h4>The LARGEST platform to book & manage all your Business Travels!</h4>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Why Us -->
		<section class="why-savari pt-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one">
							<h1>Why Online Savaari?</h1>
							<p>
								Working at Yatra is bound to be one of the most amazing experiences of your life. The
								bonds you build, the friends you make and the stupendous
								learning opportunities you get, are just some of these.
							</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-around">
					<div class="col-lg-5 col-md-6">
						<div class="icon-info">
							<img src="{% static 'main/images/icon/why/1.png' %}" alt="">
							<h3>Great Peers</h3>
							<p>We are a team of achievers. Our folks are ambitious, go getters, fun loving, aware and
								proactive</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6">
						<div class="icon-info">
							<img src="{% static 'main/images/icon/why/2.png' %}" alt="">
							<h3>Most Trusted Brand</h3>
							<p>With a strong focus on fulfilling customer needs and service, we are the most trusted
								online travel brand</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6">
						<div class="icon-info">
							<img src="{% static 'main/images/icon/why/3.png' %}" alt="">
							<h3>Fun @ Work</h3>
							<p>Hackathons, Cricket Matches, Festival Celebrations, Yummy Food Stalls,Surprise Games….
								working with us is never boring!</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6">
						<div class="icon-info">
							<img src="{% static 'main/images/icon/why/4.png' %}" alt="">
							<h3>Open Culture</h3>
							<p>Every view and opinion is heard and respected. We talk to people not their designations.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- Footer -->
	{% include "online_savaari/footer.html" %}

	<!-- Custom -->
	<script src="{% static 'main/js/default.js' %}"></script>

	<!-- Jquery min -->
	<script src="{% static 'main/js/jquery.min.js' %}"></script>

	<!-- Popper Min -->
	<script src="{% static 'main/plugins/bootstrap/js/popper.min.js' %}"></script>

	<!-- Bootstrap -->
	<script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- Jquery UI -->
	<script src="{% static 'main/plugins/Jquery-ui/jquery-ui.min.js' %}"></script>

	<!-- Owl Carousel -->
	<script src="{% static 'main/plugins/owl-carousel/js/owl.carousel.min.js' %}"></script>

	<!-- Star Rating -->
	<script src="{% static 'main/plugins/star_rating/star-rating.js' %}"></script>

	<!-- Quantity -->
	<script src="{% static 'main/plugins/quantity.js' %}"></script>

	<script src="{% static 'main/js/my-quantity.js' %}"></script>

	<!-- Phone -->
	<script src="{% static 'main/plugins/phone/phone.js' %}"></script>

	<!-- Select -->
	<script src="{% static 'main/plugins/selectbox.js' %}"></script>

	<!-- Select -->
	<script src="{% static 'main/plugins/seat-booking/seat.js' %}"></script>

</body>

</html>
