{% load flight_tags %}
{% load static%}
{% include "online_savaari/header.html" %}

<!-- Main -->
<main class="main-body">
    <section class="user-pg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 left-sec">
                    <ul class="breadcumb">
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><span>Savaari Cash</span></li>
                    </ul>
                    <ul class="sidemenu">
                        <li>
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="{% url 'booking_history' %}" id="bookingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Booking</a>
                            <div class="dropdown-menu" aria-labelledby="bookingDropdown">
                                <a class="dropdown-item" href="{% url 'cancel' %}">Cancel</a>
                                <a class="dropdown-item" href="{% url 'rescheduleclaim'%}">Reschedule</a>
                                <a class="dropdown-item" href="{% url 'booking_history' %}">All Bookings</a>
                            </div>
                        </li>
                        {% comment %} <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="ticketDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ticket</a>
                            <div class="dropdown-menu" aria-labelledby="ticketDropdown">
                                <a class="dropdown-item" href="ticket.html">SMS/Email Ticket</a>
                                <a class="dropdown-item" href="print-ticket.html">Print Ticket</a>
                                <a class="dropdown-item" href="print-invoice.html">Print Invoice/Receipt</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="fareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fare</a>
                            <div class="dropdown-menu" aria-labelledby="fareDropdown">
                                <a class="dropdown-item" href="fare-details.html">Fare Details</a>
                                <a class="dropdown-item" href="make-payment.html">Make Payment</a>
                            </div>
                        </li>
                        <li class="sidemenu">
                            <a class="dropdown-toggle" href="#" id="refundDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Refund</a>
                            <div class="dropdown-menu" aria-labelledby="refundDropdown">
                                <a class="dropdown-item" href="refund-status.html">Track Flight Refund Status</a>
                                <a class="dropdown-item" href="check-refund.html">Check your Refund</a>
                            </div>
                        </li> {% endcomment %}
                        <li class="dropdown">
                            <a href="{% url 'refundclaim' %}">Refund</a>
                            <!-- <a class="dropdown-toggle" href="#" id="refundDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Refund</a>
                            <div class="dropdown-menu" aria-labelledby="refundDropdown">
                                <a class="dropdown-item" href="refund-status.html">Track Flight Refund Status</a>
                                <a class="dropdown-item" href="check-refund.html">Check your Refund</a>
                            </div> -->
                        </li>
                        <li>
                            <a href="{% url 'profile'%}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'savaari_cash'%}">Savaari Cash</a>
                        </li>
                        <!-- <li class="dropdown">
                            <a class="dropdown-toggle" href="{% url 'savaari_cash' %}" id="ecashDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Savaari Cash</a>
                            <div class="dropdown-menu" aria-labelledby="ecashDropdown">
                                <a class="dropdown-item" href="check-balance.html">Check balance</a>
                                <a class="dropdown-item" href="all-transaction.html">All Transactions</a>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="col-lg-9 col-md-8 col-12 right-sec">
                    {% if request.user|has_group:"Agent" %}
                    <div class="box-one profile-box" style="margin-bottom: 1em;">
                        <div class="title-sec">
                            <h4>Account Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="ecash-box" style="padding: 0.5em;">
                                    <div class="bank-name">
                                        <h3>Yes bank</h3>
                                    </div>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td><b>Account Number:</b> 021863300002783</td>
                                                <td><b>IFSC code:</b> YESB0000218</td>
                                            </tr>
                                            <tr>
                                                <td><b>Account Name:</b> Online Savaari Private Limited</td>
                                                <td><b>BRANCH:</b> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="ecash-box" style="padding: 0.5em;">
                                    <div class="bank-name">
                                        <h3>ICICI BANK</h3>
                                    </div>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td><b>Account Number:</b> 101905002108</td>
                                                <td><b>IFSC code:</b> ICIC0001019</td>
                                            </tr>
                                            <tr>
                                                <td><b>Account Name:</b> Online Savaari Private Limited</td>
                                                <td><b>BRANCH:</b> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="addamount" style="margin-top: 1em;">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#deposit">
                                NEW DEPOSIT REQUEST
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    <div class="box-one profile-box">
                        <div class="title-sec">
                            <h4>View Savaari Cash Summary</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-5">
                                <div class="ecash-box">
                                    <!-- <h4>Current Savaari Balance</h4>
                                    <h2>₹ {{ ammount|floatformat:"-3" }} {{ wallet.current_amount|floatformat:"-3" }}</h2> -->
                                    {% if data == None %}
                                    <form action="{% url 'savaari_cash' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="activate" value="activate">
                                        <button class="btn btn-lg btn-blue" >Activate Wallet</button>
                                    </form>
                                    {% else %}
                                    <div class="" style="display: flex;justify-content: space-between;align-items: center;">                                    
                                        <div class="balance">
                                            <h4>Savaari Balance</h4>
                                            {% if balance < 50 %}
                                            <p class="m-0" style="color: red;font-size:0.6rem;text-align:start;">Low Balance</p>
                                            {% endif %}
                                            <h2 style="text-align: start;border-bottom: 0.5px dashed black;">₹ {{ balance }}</h2>
                                        </div>
                                        <div class="topup">
                                            <!-- <button type="button" class="btn btn-primary btn-sm">TOPUP</button> -->
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#loginModal">
                                                Recharge
                                            </button>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5">
                                <div class="ecash-box">
                                    <h4>Credit Amount</h4>
                                    <h2>₹ {{credit_amount}} </h2>
                                </div>
                            </div>
                            {% comment %} <div class="col-lg-4 col-md-5">
                                <div class="ecash-box">
                                    <h4>pending</h4>
                                    <h2>₹ {{ padding }} {{wallet.pending_ammount}}</h2>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <hr>
                        <div class="title-sec">
                            <h4>All Transaction</h4>
                        </div>
                        <div class="">
                            <div class="tab-box-three">
                                <ul class="nav nav-pills mb-4" role="tablist" style="justify-content: flex-start;">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-one" data-toggle="pill" href="#one-tab" role="tab" aria-controls="one-tab" aria-selected="true">Wallet Transaction</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-three" data-toggle="pill" href="#three-tab" role="tab" aria-controls="three-tab" aria-selected="false">Credit Transaction</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="one-tab" role="tabpanel" aria-labelledby="tab-one">
                                        <div class="profile-table">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Transaction Type</th>
                                                            <th>Amount</th>
                                                            <th>TDS</th>
                                                            <th>Transaction Id</th>
                                                            <th>Transaction Status</th>
                                                        </tr>
                                                    </thead>
                                                    
                                                    {% for transaction in data %}
                                                    {% if transaction.amount != 0 %}
                                                    <tbody>
                                                        <tr>
                                                            <td>{{transaction.transaction_date}}</td>
                                                            <td>
                                                                <b>{{transaction.trasc_type}}</b>
                                                            </td>
                                                            <td>
                                                            ₹ {{transaction.amount}}
                                                            </td>
                                                            <td>
                                                            ₹ {{transaction.tds}}
                                                            </td>
                                                            <td>{{transaction.transaction_id}}</td>
                                                            <td> {{transaction.transaction_status}}</td>
                                                        </tr>
                                                    </tbody>
                                                    {% endif %}
                                                    {% endfor %}
    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="tab-pane fade" id="three-tab" role="tabpanel" aria-labelledby="three-tab">
                                                                                <div class="profile-table">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Transaction Type</th>
                                                            <th>Amount</th>
                                                            <!-- <t -->h>TDS</th>
                                                            <th>Transaction Id</th>
                                                            <!-- <th>Transaction Status</th> -->
                                                        </tr>
                                                    </thead>
                                        
                                                    {% for transaction in credit_history %}
                                                
                                                    {% if transaction.amount != 0 %}
                                                    <tbody>
                                                        <tr>
                                                            <td>{% if transaction.deduct_date == None %}
                                                            {{transaction.start_date}}
                                                            {% else %}
                                                             {{transaction.deduct_date}}
                                                    {% endif%}

                                                        </td>
                                                            <td>
                                                                <b>{{transaction.status}}</b>
                                                            </td>
                                                            <td>
                                                            ₹ {{transaction.amount}}
                                                            </td>
                                                            <!-- <td>
                                                            ₹ {{transaction.tds}}
                                                            </td> -->
                                                            <td>{{transaction.trasaction_num}}</td>
                                                            <!-- <td> {{transaction.transaction_status}}</td> -->
                                                        </tr>
                                                    </tbody>
                                                    {% endif %}
                                                    {% endfor %}
    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <div class="modal fade login-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" id="loginModalLabel" style="background-color: red;">
              <div class="logo" style="background-color: white;padding:1em;border-radius: 10px;">
                <img src="{% static 'main/images/logo.png' %}" alt="">
              </div>
              <div class="comp" style="color: white;margin-top: 0.5em;margin-left: 0.2em;">
                <h2 style="margin: 0;">Online Savaari</h2>
                <p style="margin: 0;">Travel Company</p>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
            </div>
            <form id="edit-pax" action="{% url 'savaari_cash' %}" method="GET">
                {% csrf_token %}
                <div class="modal-body d-flex" style="flex-direction: column;">
                    <input type="hidden" name="pay_id" value="{{res}}">
                    <h4>Topup Wallet</h4>
                    <label for="t-text" class="sr-only">Amount</label>
                    <input id="t-text" type="number" name="txt" placeholder="Amount" class="form-control" required="">
                    <div class="amount-ex" style="margin-top: 1em;">
                        <button onclick="addamount(1000)" type="button" class="btn btn-amount">₹ 1000</button>
                        <button onclick="addamount(2000)" type="button" class="btn btn-amount">₹ 2000</button>
                        <button onclick="addamount(3000)" type="button" class="btn btn-amount">₹ 3000</button>
                    </div>
                    <button class="btn btn-primary mt-4" id="rzp-button1" type="submit">PROCEED TO RECHARGE</button>
                    <button class="btn btn-primary mt-4" id="easebussbtn" type="button">PROCEED WITH EASEBUZZ</button>
                    
                </div>
            </form>
          </div>
        </div>
    </div>
    <div class="modal fade login-modal" id="deposit" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" id="loginModalLabel" style="background-color: red;">
              <div class="logo" style="background-color: white;padding:1em;border-radius: 10px;">
                <img src="{% static 'main/images/logo.png' %}" alt="">
              </div>
              <div class="comp" style="color: white;margin-top: 0.5em;margin-left: 0.2em;">
                <h2 style="margin: 0;">Online Savaari</h2>
                <p style="margin: 0;">Travel Company</p>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
            </div>
            <form id="edit-pax1" action="{% url 'deposit_request_user' %}" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body d-flex" style="flex-direction: column;">
                    <h4>DEPOST DETAILS</h4>
                    <div class="form-row mb-4">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">DEPOSIT TYPE</label>
                            <select id="inputState" class="form-control" name="deposit_type">
                                <option hidden disabled selected>deposit type</option>
                                <option>Online Transfer</option>
                                <option>Cheque Deposit</option>
                                <option>Cash in Bank</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="inputPassword4">DEPOSIT AMOUNT</label>
                            <input type="number" name="Amount" class="form-control" id="inputPassword4" placeholder="Amount">
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">BANK NAME</label>
                            <select id="inputState" class="form-control" name="bank_name">
                                <option hidden disabled selected>deposit Bank Name</option>
                                <option>Yes bank</option>
                                <option>ICICI BANK</option>
                            </select>
                            <!-- <input class="form-control" type="text" name="bank_name" id="" placeholder="Bank Name"> -->
                        </div>
                        <div class="form-group mb-4">
                            <label for="inputPassword4">DEPOSIT BRANCH</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Deposit Branch" name="deposite_branch">
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="form-group col-md-6">
                            <label for="deposit__img">image</label>
                            <input id="deposit__img" type="file" name="deposit_slip">
                        </div>
                        <!-- <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <label for="transaction">Transaction Number</label>
                            <input type="text" class="form-control" id="transaction" placeholder="Transaction Number" name="trasaction_num">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">SUBMIT</button>
                </div>
            </form>
          </div>
        </div>
    </div>
</main>


<!-- Profile Edit -->
<div class="modal fade edit-profile-modal" id="edit-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Edit Profile</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <img src="images/icon/close.png" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <label>User Name:</label>
                        </div>
                        <div class="col-md-2 col-4 pr-0">
                            <div class="form-group">
                                <select name="" id="" class="form-control px-1">
                                    <option value="" selected="">Title</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5 col-8">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" class="form-control" placeholder="example@gmail.com">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone:</label>
                                <div class="input-phone"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Old Password:</label>
                                <input type="password" class="form-control" placeholder="*****">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>New Password:</label>
                                <input type="password" class="form-control" placeholder="*****">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Confirm Password:</label>
                                <input type="password" class="form-control" placeholder="*****">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address:</label>
                                <input type="text" class="form-control" placeholder="address line">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State:</label>
                                <select name="" id="" class="form-control">
                                    <option value="" selected="">Select state</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City:</label>
                                <input type="text" class="form-control" placeholder="Enter city">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Zip:</label>
                                <input type="text" class="form-control" placeholder="00000">
                            </div>
                        </div>
                        <div class="col-12">
                            <ul class="checkbox-list">
                                <li>
                                    <label class="custom-checkbox">SMS Alerts
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-checkbox">Low Fare Alerts
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-checkbox">I would also like to receive my booking details on WhatsApp.
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-checkbox">Subscribe to receive special promotions and offers by Yatra.
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-red">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- GST Edit -->
<div class="modal fade edit-profile-modal" id="gst-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Add GST Information</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <img src="images/icon/close.png" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>GST Number</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone:</label>
                                <div class="input-phone"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" class="form-control" placeholder="example@gmail.com">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address:</label>
                                <input type="text" class="form-control" placeholder="address line">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State:</label>
                                <select name="" id="" class="form-control">
                                    <option value="" selected="">Select state</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City:</label>
                                <input type="text" class="form-control" placeholder="Enter city">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Zip:</label>
                                <input type="text" class="form-control" placeholder="00000">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Profile Edit -->
<div class="modal fade edit-profile-modal" id="travellers-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Add Traveller</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <img src="images/icon/close.png" alt="">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <ul class="radio-list">
                                <li>
                                    <label class="custom-radio">Adult
                                        <input checked="checked" name="radio" type="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-radio">Child
                                        <input name="radio" type="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="custom-radio">Infant
                                        <input name="radio" type="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                                    <option value="" selected="">Title</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>First Name<sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Last Name<sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Date of Birth<sup>*</sup></label>
                                <input type="text" class="datepicker" value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red">Submit</button>
            </div>
        </div>
    </div>
</div>
{% include "online_savaari/footer.html" %}

<!-- Jquery min -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>

<!-- Popper Min -->
<script src="{% static 'main/plugins/bootstrap/js/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Jquery UI -->
<script src="{% static 'main/plugins/Jquery-ui/jquery-ui.min.js' %}"></script>

<!-- Owl Carousel -->
<script src="{% static 'main/plugins/owl-carousel/js/owl.carousel.min.js' %}"></script>

<!-- Star Rating -->
<script src="{% static 'main/plugins/star_rating/star-rating.js' %}"></script>

<!-- Quantity -->
<script src="{% static 'main/plugins/quantity.js' %}"></script>

<!-- Phone -->
<script src="{% static 'main/plugins/phone/phone.js' %}"></script>

<!-- Select -->
<script src="{% static 'main/plugins/selectbox.js' %}"></script>

<!-- Select -->
<script src="{% static 'main/plugins/seat-booking/seat.js' %}"></script>

<!-- Custom -->
<script src="{% static 'main/js/default.js' %}"></script>

<script>
    console.log(balance)
   function addamount(am){
    $('#t-text').val(am)
    $('#addamt').remove();
    $('#edit-pax').append(`<input id='addamt' type='hidden' value='${am}' name='amt'>`);
   }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://ebz-static.s3.ap-south-1.amazonaws.com/easecheckout/easebuzz-checkout.js"></script> 

<script>
let pay_id= $('[name="pay_id"]').val()
let txt= parseFloat($('[name="txt"]').val())

    function saveid(id){

        $.ajax({
            type: "POST",
            url: "/savaari_cash",
            data : {
                csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
                payment_id: id,
                amount: $('[name="txt"]').val(),
                ajax: 'ajax-payment-done',
            },
            success: function(data){
                location.reload();
                console.log(data)
            },
        });
    }
    var options = {
        "key": "rzp_test_cbUIs2vrl3R0RD", // Enter the Key ID generated from the Dashboard
        "amount": txt, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Online Savaari",
        "description": "Travel Company",
        "image": "https://onlinesavaari.com/static/main/images/logo.png",
        "order_id": pay_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            // alert(response.razorpay_payment_id);
            // alert(response.razorpay_order_id);
            // alert(response.razorpay_signature)
            saveid(response.razorpay_payment_id)
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#ea2330"
        }
    };

// document.getElementById('rzp-button1').onclick = function(e){
//     rzp1.open();
//     e.preventDefault();
// }

    //easebuzz iframe add
    document.getElementById('easebussbtn').onclick = function(e){
        $.ajax({
            type: "GET",
            url: "/savaari_cash",
            data : {
                amount: $('[name="txt"]').val(),
                ajax: 'ajax'
            },
            success: function(data){
                // console.log(data)
                // console.log(data)
                // options.amount = data.amount;
                // options.order_id = data.payment.id;
                // var rzp1 = new Razorpay(options);
                // rzp1.on('payment.failed', function (response){
                //         alert(response.error.code);
                //         alert(response.error.description);
                //         alert(response.error.source);
                //         alert(response.error.step);
                //         alert(response.error.reason);
                //         alert(response.error.metadata.order_id);
                //         alert(response.error.metadata.payment_id);
                // });
                // rzp1.open();
                var easebuzzCheckout = new EasebuzzCheckout("M3YR2SW37O", 'prod') //key geting from API doc, prod is fixed
                var options = {
                    access_key: data.access_key, // access key received via Initiate Payment change this key 
                    onResponse: (response) => {
                        console.log(response);
                    },
                    theme: "#ea2330" // color hex
                }
                easebuzzCheckout.initiatePayment(options);
            },
        });
    }
    $('#edit-pax').submit(function(e){
        e.preventDefault()
        $.ajax({
            type: "GET",
            url: "/savaari_cash",
            data : {
                amount: $('[name="txt"]').val(),
                ajax: 'ajax'
            },
            success: function(data){
                // console.log(data)
                // console.log(data)
                // options.amount = data.amount;
                // options.order_id = data.payment.id;
                // var rzp1 = new Razorpay(options);
                // rzp1.on('payment.failed', function (response){
                //         alert(response.error.code);
                //         alert(response.error.description);
                //         alert(response.error.source);
                //         alert(response.error.step);
                //         alert(response.error.reason);
                //         alert(response.error.metadata.order_id);
                //         alert(response.error.metadata.payment_id);
                // });
                // rzp1.open();
                console.log(data)
                window.location.href = data.data;
            },
        });
    })
</script>


</body>

</html>