{%load static%}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'main/images/favicon.png' %}">
	<title>Online Savaari</title>
	<!-- Custom -->
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/custom.css' %}">
</head>

<body>
	<!-- Main Header -->
	{% include "online_savaari/header.html" %}

	<!-- Main Two -->
	<main class="main-body">
		<!-- Agent Banner -->
		<section class="agent-banner" style="background-image:url({% static 'main/images/bg/3.png' %});">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one">
							<h1>India's leading online travel brand committed to the mission of 'creating happy travellers'</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Faq -->
		<section class="faq-info pt-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="heading-one text-center">
							<h1>Frequently Asked Questions</h1>
						</div>
						<div id="accordion" class="accordion-one">
							<div class="card">
								<div class="card-header" id="heading-1">
									<button aria-controls="collapse-1" aria-expanded="false" class="collapsed" data-target="#collapse-1" data-toggle="collapse">How much Online Savari should I
										order?</button>
								</div>
								<div aria-labelledby="heading-1" class="collapse" data-parent="#accordion" id="collapse-1">
									<div class="card-body">
										<p>
											Research shows it’s best to take Online Savari consistently for at least 90 - 180 days to experience optimal results. The longer and more
											consistently you take Online Savari the more you will benefit. Therefore, we strongly recommend you take advantage of our best deal 180 day
											supply package, or our almost just-as-popular 90 day deep-discount package. We’re only able to guarantee this special pricing for today
											or
											until our limited inventory runs out, and we’re selling out of our current stock fast. The fact is we guarantee you’ll never be able to
											buy
											Savari cheaper than today which is another important reason why picking up at least 90 -180 days worth is definitely the smart option.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-2">
									<button aria-controls="collapse-2" aria-expanded="false" class="collapsed" data-target="#collapse-2" data-toggle="collapse">Is Online Savari
										safe?</button>
								</div>
								<div aria-labelledby="heading-2" class="collapse" data-parent="#accordion" id="collapse-2">
									<div class="card-body">
										<p>
											Online Savari is completely 100% natural, safe and effective. Thousands of people enjoy taking Savari daily and no side effects have been
											reported. Each pack of Savari is made right here in the USA in a state-of-the-art, FDA approved, GMP (Good Manufacturing Practices)
											certified facility to the most rigorous, exacting aseptic standards. Online Savari is 100% natural, vegetarian, gluten-free and non-GMO. As
											always, if you have a medical condition, you should consult your doctor.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-3">
									<button aria-controls="collapse-3" aria-expanded="false" class="collapsed" data-target="#collapse-3" data-toggle="collapse">Will Online Savari work
										for
										me?</button>
								</div>
								<div aria-labelledby="heading-3" class="collapse" data-parent="#accordion" id="collapse-3">
									<div class="card-body">
										<p>
											In a word..YES! There has never been anything else like Online Savari ever even attempted in the history of health. Savari is the world’s
											first
											and only 100% safe and natural proprietary patent-pending formula, that when combined with tea, is scientifically proven to increase
											both
											the speed and efficiency of metabolism to deliver unparalleled fat burning results.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-4">
									<button aria-controls="collapse-4" aria-expanded="false" class="collapsed" data-target="#collapse-4" data-toggle="collapse">What is the best way
										to
										take Onine Savari?</button>
								</div>
								<div aria-labelledby="heading-4" class="collapse" data-parent="#accordion" id="collapse-4">
									<div class="card-body">
										<p>
											For best results, simply mix a single packet of Savari into your tea each morning. Then enjoy your tea as normal with or without food.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-5">
									<button aria-controls="collapse-5" aria-expanded="false" class="collapsed" data-target="#collapse-5" data-toggle="collapse">Do I have to take
										Tea
										Burn in the morning?</button>
								</div>
								<div aria-labelledby="heading-5" class="collapse" data-parent="#accordion" id="collapse-5">
									<div class="card-body">
										<p>
											No you do not. You can enjoy and benefit from Savari at any time of the day.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-6">
									<button aria-controls="collapse-6" aria-expanded="false" class="collapsed" data-target="#collapse-6" data-toggle="collapse">Does Online Savari work
										with
										other beverages?</button>
								</div>
								<div aria-labelledby="heading-6" class="collapse" data-parent="#accordion" id="collapse-6">
									<div class="card-body">
										<p>
											The individual nutrients in Savari may provide health benefits when combined with other beverages. However, Savari contains a
											proprietary, patent-pending formula of 100% natural ingredients designed to work with tea to help ignite the metabolism and create the
											ideal
											fat-burning environment. most thought.
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-7">
									<button aria-controls="collapse-7" aria-expanded="false" class="collapsed" data-target="#collapse-7" data-toggle="collapse">How will Savari be
										shipped to me and how quickly?</button>
								</div>
								<div aria-labelledby="heading-7" class="collapse" data-parent="#accordion" id="collapse-7">
									<div class="card-body">
										<p>
											We will ship your order directly to your home or office using a premium carrier such as FedEx or UPS, and if you’re in the US or Canada
											you
											can expect your order within 5 to 7 business days. International orders typically take 8 – 15 business days (plus customs clearance
											time).
											Rush shipping is available!
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-8">
									<button aria-controls="collapse-8" aria-expanded="false" class="collapsed" data-target="#collapse-8" data-toggle="collapse">Will I be billed
										anything else after I order?</button>
								</div>
								<div aria-labelledby="heading-8" class="collapse" data-parent="#accordion" id="collapse-8">
									<div class="card-body">
										<p>
											Absolutely not! Rest assured this is a one-time payment only. This is not an auto-ship program of any kind. There are no hidden charges
											or
											subscription fees whatsoever. I’ve always hated that stuff as much as you do!
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-9">
									<button aria-controls="collapse-9" aria-expanded="false" class="collapsed" data-target="#collapse-9" data-toggle="collapse">Is Savari
										Guaranteed?</button>
								</div>
								<div aria-labelledby="heading-9" class="collapse" data-parent="#accordion" id="collapse-9">
									<div class="card-body">
										<p>
											Savari is backed by a 60 day, no questions asked, 100% money back guarantee to make getting started an absolute no-brainer for you. If
											Tea
											Burn doesn’t turn out to be the best decision you’ve ever made, or if you change your mind for any reason whatsoever, just email us at
											support@Teaburn.com anytime in the next 60 days and we’ll refund you the purchase price right away. My team and I are extremely easy to
											get
											a hold of. There’s simply no risk to you. It’s time to get started!
										</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="heading-10">
									<button aria-controls="collapse-10" aria-expanded="false" class="collapsed" data-target="#collapse-10" data-toggle="collapse">I drink tea and I
										can’t think of any reason not to use Savari. Am I missing something!?</button>
								</div>
								<div aria-labelledby="heading-10" class="collapse" data-parent="#accordion" id="collapse-10">
									<div class="card-body">
										<p>
											Nope, absolutely not. Allowing Savari to enhance your health, energy and metabolism is a total no-brainer :)
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- Footer -->
	{% include "online_savaari/footer.html" %}

	<!-- Custom -->
	<script src="{% static 'main/js/default.js' %}"></script>

	<!-- Jquery min -->
    <script src="{% static 'main/js/jquery.min.js' %}"></script>

    <!-- Popper Min -->
    <script src="{% static 'main/plugins/bootstrap/js/popper.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Jquery UI -->
    <script src="{% static 'main/plugins/Jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'main/plugins/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!-- Star Rating -->
    <script src="{% static 'main/plugins/star_rating/star-rating.js' %}"></script>

    <!-- Quantity -->
    <script src="{% static 'main/plugins/quantity.js' %}"></script>

    <script src="{% static 'main/js/my-quantity.js' %}"></script>

    <!-- Phone -->
    <script src="{% static 'main/plugins/phone/phone.js' %}"></script>

    <!-- Select -->
    <script src="{% static 'main/plugins/selectbox.js' %}"></script>

    <!-- Select -->
    <script src="{% static 'main/plugins/seat-booking/seat.js' %}"></script>

    <!-- Select -->
    <script src="https://kit.fontawesome.com/3135e7d8c5.js" crossorigin="anonymous"></script>

</body>

</html>