{% load static%}
	<!-- Footer -->
	<footer class="main-footer mt-5">
		<div class="footer_widgets">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="">
							<h4 class="mb-3">Quick Links</h4>
							<ul>
								<li>
									<a href="{% url 'index' %}">Home</a>
								</li>
								<li>
									<a href="{% url 'covid' %}">Covid Guidelines</a>
								</li>
								<!-- <li>
									<a href="#.html">How it works</a>
								</li>
								<li>
									<a href="#.html">Service</a>
								</li> -->
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="">
							<h4 class="mb-3">Be A Partner</h4>
							<ul>
								<li>
									<a href="{% url 'register_corporatecust' %}">Travel agent signup</a>
								</li>
								<!-- <li>
									<a href="#.html">Register your hotel</a>
								</li>
								<li>
									<a href="#.html">Sell holyday pakage</a>
								</li>
								<li>
									<a href="#.html">Advertise with us</a>
								</li>
								<li>
									<a href="#.html">Become a Savaari franchise</a>
								</li> -->
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="">
							<h4 class="mb-3">Support</h4>
							<ul>
								<li>
									<a href="{% url 'faq' %}">FAQ</a>
								</li>
								<li>
									<a href="{% url 'term' %}">Terms & Conditions</a>
								</li>
								<li>
									<a href="{% url 'privacy' %}">Privacy Policy</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-6 mb-3 mb-md-0">
						<div class="">
							<h4 class="mb-3">More</h4>
							<ul>
								<li>
									<a href="{% url 'about' %}">About</a>
								</li>
								<!-- <li>
									<a href="#.html">Request a quote</a>
								</li> -->
								<li>
									<a href="{% url 'contact' %}">Contact us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 text-md-right">
						<div class="">
							<!-- <address>
								3rd Floor, Office no. A302, Range Heights,<br> 
								Link Road, Behram Bug Road,<br> 
								Oshiwara, Sarvodya Nagar,<br> 
								Mumbai, Maharashtra, 400102<br>
							</address> -->
							<address>
								302 & 1203 Range Heights,<br>
								New Link Road Oshiwara,<br>
								Jogeshwari West Mumbai,Maharashtra 400102<br>
							</address>
							<h3 class="mb-3">
								<a href="">
									<i class="icon-line2-earphones-alt mr-1"></i> 1800 4199 066
								</a>
							</h3>
							<!-- tel:111223344 -->
							<div class="social-list2 justify-content-md-end">
								<a href="https://www.facebook.com/OnlineSavaari" title="Facebook">
                                             <i class="fa fa-facebook-f"></i>
                                        </a>
                                        <a href="https://twitter.com/OnlineSavaari" title="instagram">
                                             <i class="fa fa-twitter"></i>
                                        </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="more-info">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="content">
							<div class="trust">
								<span>
									<img src="{% static 'main/images/ssl_logo.png' %}" alt="">
								</span>
								<span>
									<img src="{% static 'main/images/Iata_official_logo1.png' %}" alt="">
								</span>
								<!-- <span>
									<img src="{% static 'main/images/footer-icon/pci.png' %}" alt="">
								</span> -->
							</div>
							<div class="social">
								<!-- <p>Connect with us :</p> -->
								<div class="icons">
									<!-- <a href="#">
										<img src="{% static 'main/images/googleplay.png' %}" alt="">
									</a> -->
									<!-- <a href="#">
										<img src="{% static 'main/images/appstore.png' %}" alt="">
									</a> -->

									<!-- <a href="#">
										<img src="{% static 'main/images/footer-icon/instagram.png' %}" alt="">
									</a>
									<a href="#">
										<img src="{% static 'main/images/footer-icon/youtube.png' %}" alt="">
									</a>
									<a href="#">
										<img src="{% static 'main/images/footer-icon/google-plus.png' %}" alt="">
									</a> -->
								</div>
							</div>
							<div class="payment-option">
								<span>
									<img src="{% static 'main/images/footer-icon/visa.png' %}" alt="">
								</span>
								<span>
									<img src="{% static 'main/images/footer-icon/american.png' %}" alt="">
								</span>
								<span>
									<img src="{% static 'main/images/footer-icon/master.png' %}" alt="">
								</span>
								<span>
									<img src="{% static 'main/images/footer-icon/diners.png' %}" alt="">
								</span>
								<span>
									<img src="{% static 'main/images/footer-icon/rupay.png' %}" alt="">
								</span>
								<span>
									<img src="{% static 'main/images/footer-icon/emi.png' %}" alt="">
								</span>
								<span>
									<img src="{% static 'main/images/footer-icon/net-banking.png' %}" alt="">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyrights">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-md-6">
						<p>Copyrights © 2022 All Rights Reserved by <b>Online Savaari Private Limited</b></p>
					</div>
					<div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">
						<div class="copyrights_links">
							<a href="{% url 'term' %}">Terms &amp; Conditions</a>/<a href="{% url 'privacy' %}">Privacy Policy</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>