{% load static%}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'main/images/favicon.png' %}">

	<title>Online Savaari</title>

	<!-- Custom -->
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/custom.css' %}">
</head>

<body>
	<!-- Main Header -->
	{% include "online_savaari/header.html" %}

	<!-- Main -->
	<main class="main-body">
		<section class="offer-banner" style="background-image:url({% static 'main/images/bg/pb-1.jpg' %});">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="m-0">Great Offers & Amazing Deals</h1>
					</div>
				</div>
			</div>
		</section>

		<section class="offer-pg">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="menu-list">
							<li><a href="#">Domestic Flights</a></li>
							<li><a href="#">International Flights</a></li>
							<li><a href="#">Hotels</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/a.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/b.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/c.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/a.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/b.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/c.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/a.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/b.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/c.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/a.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<a href="#" class="box-one offer-box-two">
							<div class="img-sec">
								<img src="{% static 'main/images/offers/b.jpg' %}" alt="">
							</div>
							<div class="details-sec">
								<h5>Flat 12% OFF (up to Rs 1,600) </h5>
								<p class="small">Coupon Code : <b>YTRBOBCC</b></p>
								<div class="bottom-sec">
									<p class="small m-0">
										<span>Validity:</span>
										<b>Aug 30, 2022</b>
									</p>
									<span class="btns">View Details</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- Footer -->
	{% include "online_savaari/footer.html" %}

	<!-- Custom -->
	<script src="{% static 'main/js/default.js' %}"></script>

	<!-- Jquery min -->
    <script src="{% static 'main/js/jquery.min.js' %}"></script>

    <!-- Popper Min -->
    <script src="{% static 'main/plugins/bootstrap/js/popper.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Jquery UI -->
    <script src="{% static 'main/plugins/Jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'main/plugins/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!-- Star Rating -->
    <script src="{% static 'main/plugins/star_rating/star-rating.js' %}"></script>

    <!-- Quantity -->
    <script src="{% static 'main/plugins/quantity.js' %}"></script>

    <script src="{% static 'main/js/my-quantity.js' %}"></script>

    <!-- Phone -->
    <script src="{% static 'main/plugins/phone/phone.js' %}"></script>

    <!-- Select -->
    <script src="{% static 'main/plugins/selectbox.js' %}"></script>

    <!-- Select -->
    <script src="{% static 'main/plugins/seat-booking/seat.js' %}"></script>

</body>

</html>